{:author-url "https://teod.eu",
 :builder :no-op,
 :created "2025-10-01",
 :lang :en,
 :readiness :wtf-is-this,
 :slug "kondo-hooks-for-application-programmers",
 :title "CLJ-Kondo hooks for application programmers",
 :uuid "f31674d1-63f8-4e1e-8aa0-38698ab53602"}
