body {
  font-size: 2em;
}

html, body, #app, main {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

main { 
  margin: 0 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: calc(100% - 6em);
}

@media (width <= 1024px) {
  body {
    font-size: 1.5em;
  }
}

@media (width <= 600px) {
  body {
    font-size: 1em;
  }
}

img {
  max-height: 90vh;
}

ul li {
  text-align: left;
  line-height: 1.5em;
}

section {
  display: none;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1em 3em;
  width: 100%;
}

#touch-ui > div {
  cursor: pointer;
  font-size: 1.5em;
  position: absolute;
  height: 100%;
  width: 2em;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  background-color: rgb(150 150 150 / 10%);
}

#touch-ui > div:last-child {
  right: 0;
}

#touch-ui > div:first-child {
  left: 0;
}
