{:author-url "https://teod.eu",
 :created "2024-03-16",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title "Debugging with the Scientific Method",
 :uuid "DC315E58-F594-42D5-9FA0-D157A2F30503"}
