{:author-url "https://teod.eu",
 :created "2024-11-17",
 :lang :en,
 :builder :no-op,
 :readiness :ready-for-comments,
 :title "Fight Doomscrolling with Babashka",
 :uuid "b9de9ff6-e085-4084-a5a9-ab787293ebe2"}
