{:title "dots",
 :readiness :wtf-is-this,
 :author-url "https://teod.eu",
 :created "2022-07-24",
 :builder :no-op,
 :lang :en
 :uuid "b3aee932-2f9d-40b5-b2fa-72d622c8c513"
 :page/uuid "b3aee932-2f9d-40b5-b2fa-72d622c8c513"}
