{:author-url "https://teod.eu",
 :builder :no-op,
 :created "2025-08-21",
 :lang :en,
 :readiness :wtf-is-this,
 :slug "information-at-hand",
 :title "Keeping relevant information at hand",
 :uuid "8dcc19de-de21-4eaf-b7ac-d49b9b1004f2"}
