.DS_Store
.idea
*.log
tmp/

/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
/.cpcache

/.clerk

# Only for typescript
# because I want typescript-powered LSP completions
# 🙈
/node_modules/

**/.lsp/.cache
**/.clj-kondo/.cache
