/* A collection of minor adjustments for this page! */

/* Can we make sure youtube videos get the right width? */
.youtube-video {
    /* Display ration: 16/9 */

    /* Youtube original: */
    /* width: 784px; */
    /* height: 441px; */

    /* My adaptation: */

    /* width: 576px; */
    width: inherit;
    height: 324px;
}
/* yes! */

body {
    padding-bottom: 20vh;

    /* Sindre suggested a bit more space for readability, let's try that. */
    line-height: 1.4;
}
