;; Writing environment
;; Launch terminal, write. No JVM necessary.
{:deps
 {eu.teod/play {:local/root "."}}
 :tasks
 {:requires ([tplay.devenv :refer [tmux-multi]]
             [tplay.cli])
  ;; Writing tasks
  ;; (launches processes)
  clean (shell "./play.clj clean")
  dev (tmux-multi "tplay" ["bb watchmake" "bb preview"])
  make (shell "make")
  preview (shell "npx live-server")
  watchmake (shell "bash" "-c" "while true; do rg --files | entr -drc make; done")

  ;; Tests
  kaocha (clojure "-M:dev -m kaocha.runner")

  ;; Custom CLI
  cli (apply tplay.cli/main *command-line-args*)

  }}
