;; Writing environment
;; Launch terminal, write. No JVM necessary.
{:deps
 {eu.teod/play {:local/root "."}}
 :tasks
 {:requires ([tplay.devenv :refer [tmux-multi]]
             [tplay.cli :refer [main]])

  clean (main "clean")
  create-clerk-page (main "create-clerk-page")
  create-page (main "create-page")
  dev (tmux-multi "tplay" ["bb watchmake" "bb preview"])
  filter (main "filter")
  index (main "index")
  kaocha (clojure "-M:test -m kaocha.runner")
  make (shell "make")
  makefile (main "makefile")
  live-server (shell "npx live-server")
  random-page (main "random-page")
  reindex (main "reindex")
  relations (main "relations")

  }}
