{:paths ["src"]
 :deps {babashka/fs {:mvn/version "0.4.19"},
        babashka/process {:mvn/version "0.5.21"},
        cheshire/cheshire {:mvn/version "5.12.0"},
        hiccup/hiccup {:mvn/version "2.0.0-RC1"},
        org.babashka/cli {:mvn/version "0.8.55"},
        org.babashka/http-client {:mvn/version "0.4.15"},
        org.clojure/clojure {:mvn/version "1.11.1"},
        org.flatland/ordered {:mvn/version "1.5.9"},

        ;; Extra deps
        datascript/datascript {:mvn/version "1.6.3"}, ;; To query over my content
        io.github.nextjournal/clerk {:mvn/version "0.15.957"},
        io.github.teodorlu/clerk-hammertime {:git/url "https://github.com/teodorlu/clerk-hammertime", :git/sha "99ced05b6c376ecd6b0057739c9c37a484cf4d21"}}
 :aliases
 {:test
  {:extra-paths ["test"]}
  :dev
  {:extra-paths ["test"]}}}
