{:slug "value-in-context",
 :page/uuid "028a2171-3146-4fbc-8d5d-3209675dae8b",
 :created "2022-10-12",
 :readiness :wtf-is-this,
 :title "value in context",
 :lang :en,
 :page/slug "value-in-context",
 :author-url "https://teod.eu",
 :uuid "028a2171-3146-4fbc-8d5d-3209675dae8b"}
