{:slug "consider-inlining",
 :file "drafts/consider-inlining.org",
 :page/uuid "03c6e62a-91a6-470f-94d8-77e43554c20e",
 :created "2026-01-02",
 :readiness :ready-for-comments,
 :title "Consider in-lining",
 :lang :en,
 :page/slug "consider-inlining",
 :author-url "https://teod.eu",
 :uuid "03c6e62a-91a6-470f-94d8-77e43554c20e"}
