{:slug "c-lang",
 :page/uuid "052c1cdc-f2fe-4ba5-b319-d0394be1e184",
 :created "2022-07-14",
 :readiness :wtf-is-this,
 :title "C (programming language)",
 :lang :en,
 :page/slug "c-lang",
 :form :remote-reference,
 :uuid "052c1cdc-f2fe-4ba5-b319-d0394be1e184"}
