{:slug "cohen-anthem",
 :title "Anthem (Leonard Cohen)",
 :readiness :wtf-is-this,
 :uuid "05c2baca-f21e-4689-a48d-5d67e34b969b",
 :author-url "https://teod.eu",
 :created "2023-03-27",
 :lang :en,
 :form :remote-reference}
