{:slug "progressively-enhancing-explanations",
 :file "drafts/progressively-enhancing-explanations.org",
 :page/uuid "0797cf8c-6401-4e40-9219-73f52336e107",
 :created "2026-01-02",
 :readiness :ready-for-comments,
 :title "Progressively enhancing explanations",
 :lang :en,
 :page/slug "progressively-enhancing-explanations",
 :author-url "https://teod.eu",
 :uuid "0797cf8c-6401-4e40-9219-73f52336e107"}
