{:slug "attention-later",
 :page/uuid "0be4b1f7-e4dd-4209-981b-797795be7533",
 :created "2022-12-19",
 :readiness :wtf-is-this,
 :title "attention-later",
 :lang :en,
 :page/slug "attention-later",
 :author-url "https://teod.eu",
 :uuid "0be4b1f7-e4dd-4209-981b-797795be7533"}
