{:slug "sannhet-deskriptiv-preskriptiv",
 :title "Deskriptiv sannhet, preskriptiv sannhet",
 :lang :no,
 :form :presentation,
 :readiness :ready-for-comments,
 :uuid "0c0b16ef-47dc-449c-b665-07c278ffec32"}
