{:slug "play.teod.eu",
 :page/uuid "0c9bef25-85ef-48e8-b4fd-d60160f177ec",
 :created "2022-10-20",
 :readiness :wtf-is-this,
 :title "play.teod.eu",
 :lang :en,
 :page/slug "play.teod.eu",
 :form :remote-reference,
 :uuid "0c9bef25-85ef-48e8-b4fd-d60160f177ec"}
