{:slug "orthogonality-enables-optionality",
 :title "Orthogonality enables optionality",
 :form :article,
 :readiness :wtf-is-this,
 :lang :en,
 :uuid "0ccc689a-8802-4854-8042-0ecb9e839f92",
 :page/uuid "0ccc689a-8802-4854-8042-0ecb9e839f92",
 :page/slug "orthogonality-enables-optionality"}
