{:slug "kira-mclean",
 :page/uuid "0d83ed00-e292-49ea-8c75-1c0b85084f43",
 :created "2023-05-27",
 :readiness :wtf-is-this,
 :title "Kira McLean",
 :lang :en,
 :page/slug "kira-mclean",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "0d83ed00-e292-49ea-8c75-1c0b85084f43"}
