{:slug "ida-aanes",
 :page/uuid "0dec1845-f5c3-4061-8843-5089ff3b8657",
 :created "2022-11-07",
 :readiness :wtf-is-this,
 :title "Ida Aanes",
 :lang :en,
 :page/slug "ida-aanes",
 :form :remote-reference,
 :uuid "0dec1845-f5c3-4061-8843-5089ff3b8657"}
