{:slug "jethro-kuan",
 :page/uuid "0e22690f-17f5-49cb-ac61-5305c326ee76",
 :created "2023-06-14",
 :readiness :wtf-is-this,
 :title "Jethro Kuan",
 :lang :en,
 :page/slug "jethro-kuan",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "0e22690f-17f5-49cb-ac61-5305c326ee76"}
