{:slug "en-ting-av-gange-tilstede",
 :page/uuid "1289a56a-d2ea-42df-8b16-3dfd4dcc5bf6",
 :created "2025-10-03",
 :readiness :wtf-is-this,
 :title "Én ting av gangen, tilstede",
 :lang :en,
 :page/slug "en-ting-av-gange-tilstede",
 :author-url "https://teod.eu",
 :uuid "1289a56a-d2ea-42df-8b16-3dfd4dcc5bf6"}
