{:slug "kreativitet-til-salgs",
 :page/uuid "12fea9ba-c435-4158-ae33-d9fc9fa45a44",
 :created "2023-05-09",
 :readiness :wtf-is-this,
 :title "Kreativitet til salgs",
 :lang :no,
 :page/slug "kreativitet-til-salgs",
 :author-url "https://teod.eu",
 :uuid "12fea9ba-c435-4158-ae33-d9fc9fa45a44"}
