{:slug "technical-debt",
 :page/uuid "137588e9-7c79-4131-81c3-97d2bdf33709",
 :created "2024-03-29",
 :readiness :wtf-is-this,
 :title "technical debt",
 :lang :en,
 :page/slug "technical-debt",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "137588e9-7c79-4131-81c3-97d2bdf33709"}
