{:slug "not-good-enough-no-fire",
 :page/uuid "139bfaef-5305-4f5d-89a0-f34a61bca27d",
 :created "2023-05-20",
 :readiness :wtf-is-this,
 :title "not good enough! no fire!",
 :lang :en,
 :page/slug "not-good-enough-no-fire",
 :author-url "https://teod.eu",
 :uuid "139bfaef-5305-4f5d-89a0-f34a61bca27d"}
