{:slug "dynamic-initiative",
 :page/uuid "14decb6f-bf0f-41f5-9c37-97d7e4a996ac",
 :created "2023-03-25",
 :readiness :wtf-is-this,
 :title "dynamic initiative",
 :lang :en,
 :page/slug "dynamic-initiative",
 :author-url "https://teod.eu",
 :uuid "14decb6f-bf0f-41f5-9c37-97d7e4a996ac"}
