{:slug "impose-limitations-eliminate-variance",
 :title "Impose limitations and eliminate variance",
 :readiness :wtf-is-this,
 :uuid "1583d24e-df72-4660-89bf-71dc1b79bd78",
 :created "2022-11-03",
 :lang :en,
 :form :remote-reference}
