{:slug "open-source-wip",
 :page/uuid "15db9c7a-a1d0-417a-80a9-1ef39128de59",
 :created "2024-04-13",
 :readiness :wtf-is-this,
 :title "Open source WIP",
 :lang :en,
 :page/slug "open-source-wip",
 :author-url "https://teod.eu",
 :uuid "15db9c7a-a1d0-417a-80a9-1ef39128de59"}
