{:slug "perception-and-rebirth",
 :page/uuid "16fed09c-a16c-4226-912e-286ea6702b77",
 :created "2025-06-23",
 :readiness :wtf-is-this,
 :title
 "Downfall?: blinding perception and killing rebirth, a programmer's tale",
 :lang :en,
 :page/slug "perception-and-rebirth",
 :author-url "https://teod.eu",
 :uuid "16fed09c-a16c-4226-912e-286ea6702b77"}
