{:slug "2022-10-clerk-workshop",
 :page/uuid "1b275a74-df8e-4ef7-a401-4f04283ef68e",
 :created "2022-10-20",
 :readiness :wtf-is-this,
 :title "Remote Clerk workshop for Scicloj-adjacent people (2022-10)",
 :lang :en,
 :page/slug "2022-10-clerk-workshop",
 :author-url "https://teod.eu",
 :uuid "1b275a74-df8e-4ef7-a401-4f04283ef68e"}
