{:slug "golang",
 :page/uuid "1c80cee5-af85-45ca-9b54-47e297eaa4d9",
 :created "2023-04-30",
 :readiness :wtf-is-this,
 :title "Go (programming language)",
 :lang :en,
 :page/slug "golang",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "1c80cee5-af85-45ca-9b54-47e297eaa4d9"}
