{:slug "olorm",
 :title "OLORM",
 :readiness :wtf-is-this,
 :uuid "1c87d797-747d-4bb0-9a72-9243fbbcd2be",
 :author-url "https://teod.eu",
 :created "2023-04-22",
 :lang :no,
 :form :remote-reference}
