{:slug "paulus-esterhazy",
 :page/uuid "20a97990-dd60-4cd7-9c09-a61db5ef88a7",
 :created "2023-06-27",
 :readiness :wtf-is-this,
 :title "Paulus Esterhazy",
 :lang :en,
 :page/slug "paulus-esterhazy",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "20a97990-dd60-4cd7-9c09-a61db5ef88a7"}
