{:slug "dtype-next",
 :page/uuid "20e994be-d760-44b1-bee6-3575ebed65df",
 :created "2023-03-28",
 :readiness :wtf-is-this,
 :title "dtype-next",
 :lang :en,
 :page/slug "dtype-next",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "20e994be-d760-44b1-bee6-3575ebed65df"}
