{:slug "teknologi-for-produkt-intro",
 :author-url "https://teod.eu",
 :created "2023-06-13",
 :lang :no,
 :readiness :ready-for-comments,
 :title "Teknologi for å bygge produkt---en introduksjon",
 :uuid "224c548c-b444-4557-86a5-9056a393548f"}
