{:slug "microtheory",
 :page/uuid "2628579d-9108-4268-9fab-cf0faffb7191",
 :created "2023-04-22",
 :readiness :wtf-is-this,
 :title "microtheory",
 :lang :en,
 :page/slug "microtheory",
 :author-url "https://teod.eu",
 :uuid "2628579d-9108-4268-9fab-cf0faffb7191"}
