{:slug "evan-czaplicki",
 :page/uuid "26C2B24B-CF52-4C76-B9C5-E86FA7EAF9E5",
 :created "2024-03-16",
 :readiness :wtf-is-this,
 :title "Evan Czaplicki",
 :lang :en,
 :page/slug "evan-czaplicki",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "26C2B24B-CF52-4C76-B9C5-E86FA7EAF9E5"}
