{:slug "css-animasjoner-interate.no",
 :page/uuid "2845f4a3-8251-4012-89aa-5a51384601e6",
 :created "2023-05-11",
 :readiness :wtf-is-this,
 :title "CSS-animasjoner på Iterate.no",
 :lang :no,
 :page/slug "css-animasjoner-interate.no",
 :author-url "https://teod.eu",
 :uuid "2845f4a3-8251-4012-89aa-5a51384601e6"}
