{:slug "rdf-intro",
 :title "Modeling knowledge with RDF",
 :readiness :wtf-is-this,
 :lang :en,
 :uuid "28ce78bd-d153-4911-bca4-eaf61d8d0715",
 :page/uuid "28ce78bd-d153-4911-bca4-eaf61d8d0715",
 :page/slug "rdf-intro"}
