{:slug "sufficient-unto-the-day-is-the-evil-thereof",
 :page/uuid "2abb9f61-1598-4121-9786-69ac555e1a38",
 :created "2025-02-15",
 :readiness :ready-for-comments,
 :title "Sufficient onto the day is the evil thereof",
 :lang :en,
 :page/slug "sufficient-unto-the-day-is-the-evil-thereof",
 :author-url "https://teod.eu",
 :form :personal,
 :uuid "2abb9f61-1598-4121-9786-69ac555e1a38"}
