{:slug "datanotasjon-for-tall-med-enhet",
 :page/uuid "2bb67451-0550-49dd-bfc8-a5f6ee6f95e9",
 :builder :no-op,
 :created "2025-07-29",
 :readiness :wtf-is-this,
 :title "Datanotasjon for tall med enhet",
 :lang :en,
 :page/slug "datanotasjon-for-tall-med-enhet",
 :author-url "https://teod.eu",
 :uuid "2bb67451-0550-49dd-bfc8-a5f6ee6f95e9"}
