{:slug "retrospective-questions",
 :page/uuid "2c0f985a-954a-4592-a25c-19a8502414e3",
 :created "2024-05-24",
 :readiness :wtf-is-this,
 :title "retrospective questions",
 :lang :en,
 :page/slug "retrospective-questions",
 :author-url "https://teod.eu",
 :uuid "2c0f985a-954a-4592-a25c-19a8502414e3"}
