{:slug "document-transform-pandoc-clojure",
 :page/uuid "2c53f531-afdd-4efb-becd-f5d2f220b5ab",
 :created "2022-07-15",
 :readiness :ready-for-comments,
 :title "Recursive document transformations with Pandoc and Clojure",
 :lang :en,
 :page/slug "document-transform-pandoc-clojure",
 :author-url "https://teod.eu",
 :uuid "2c53f531-afdd-4efb-becd-f5d2f220b5ab"}
