{:slug "kosekoding",
 :page/uuid "2d60ee76-a193-46fd-a07b-838af66cfcd6",
 :created "2022-08-16",
 :readiness :wtf-is-this,
 :title "Kosekoding",
 :lang :no,
 :page/slug "kosekoding",
 :author-url "https://teod.eu",
 :uuid "2d60ee76-a193-46fd-a07b-838af66cfcd6"}
