{:slug "unix-pipeline-to-babashka-script",
 :page/uuid "2d6e8ab1-0c18-42b0-984f-5054def0641e",
 :created "2023-05-06",
 :readiness :wtf-is-this,
 :title "How to port a Unix pipeline to a Babashka script",
 :lang :en,
 :page/slug "unix-pipeline-to-babashka-script",
 :author-url "https://teod.eu",
 :uuid "2d6e8ab1-0c18-42b0-984f-5054def0641e"}
