{:slug "its-not-about-you",
 :title "it's not about you",
 :readiness :wtf-is-this,
 :uuid "2f4431a2-1534-4855-a639-725fea288095",
 :author-url "https://teod.eu",
 :created "2023-04-30",
 :lang :en,
 :form :remote-reference}
