{:slug "knowledge-playlist",
 :title "knowledge playlist",
 :readiness :wtf-is-this,
 :uuid "30253e9f-4247-4a36-8876-b2a7402d2e1e",
 :author-url "https://teod.eu",
 :created "2023-04-22",
 :lang :en}
