{:slug "rust-lang",
 :page/uuid "307f5d35-7be1-4693-8378-4a0255717056",
 :created "2023-04-30",
 :readiness :wtf-is-this,
 :title "Rust (programming language)",
 :lang :en,
 :page/slug "rust-lang",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "307f5d35-7be1-4693-8378-4a0255717056"}
