{:slug "rich-facepalm",
 :page/uuid "313f3626-6866-4544-8617-78a3977e0fc1",
 :created "2023-06-16",
 :readiness :wtf-is-this,
 :title "rich-facepalm",
 :lang :en,
 :page/slug "rich-facepalm",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "313f3626-6866-4544-8617-78a3977e0fc1"}
