{:slug "nix",
 :page/uuid "31e6ddd8-3006-42ee-9c74-68b00a69dee0",
 :created "2022-08-08",
 :readiness :wtf-is-this,
 :title "I want to learn Nix",
 :lang :en,
 :page/slug "nix",
 :author-url "https://teod.eu",
 :uuid "31e6ddd8-3006-42ee-9c74-68b00a69dee0"}
