{:slug "serial-focus",
 :page/uuid "32aef0d5-4e6e-4890-bd4d-37b3dbc50e75",
 :created "2025-10-05",
 :readiness :wtf-is-this,
 :title "Serial Focus",
 :lang :en,
 :page/slug "serial-focus",
 :author-url "https://teod.eu",
 :uuid "32aef0d5-4e6e-4890-bd4d-37b3dbc50e75"}
