{:slug "terminalen-motorsag",
 :builds
 [{:build/type :index-org-2-html}
  {:build/type :index-org-2-slides-html}],
 :page/uuid "32bffa13-d4fb-4ae7-9718-855b0d4130d2",
 :created "2022-08-13",
 :readiness :wtf-is-this,
 :title "Terminalen: Hvordan løpe med motorsag",
 :lang :no,
 :page/slug "terminalen-motorsag",
 :author-url "https://teod.eu",
 :uuid "32bffa13-d4fb-4ae7-9718-855b0d4130d2"}
