{:slug "proof-of-work",
 :page/uuid "332543a2-3a55-46d5-b447-57e52dca5642",
 :created "2023-03-07",
 :readiness :wtf-is-this,
 :title "proof of work",
 :lang :en,
 :page/slug "proof-of-work",
 :author-url "https://teod.eu",
 :uuid "332543a2-3a55-46d5-b447-57e52dca5642"}
