{:slug "compressing-thoughts",
 :page/uuid "33288b32-b2eb-4d1e-b0f3-b13f84749fda",
 :created "2024-01-21",
 :readiness :wtf-is-this,
 :title "Compressing Thoughts",
 :lang :en,
 :page/slug "compressing-thoughts",
 :author-url "https://teod.eu",
 :uuid "33288b32-b2eb-4d1e-b0f3-b13f84749fda"}
