{:slug "ted-nelson",
 :page/uuid "3331b931-9aaf-4fa4-9742-0fe2f02031e6",
 :created "2023-06-14",
 :readiness :wtf-is-this,
 :title "Ted Nelson",
 :lang :en,
 :page/slug "ted-nelson",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "3331b931-9aaf-4fa4-9742-0fe2f02031e6"}
