{:slug "julian-hallen-eriksen",
 :page/uuid "34BF8765-F2B1-47B8-AEB7-8ED64776A356",
 :created "2024-03-23",
 :readiness :wtf-is-this,
 :title "Julian Hallen Eriksen",
 :lang :en,
 :page/slug "julian-hallen-eriksen",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "34BF8765-F2B1-47B8-AEB7-8ED64776A356"}
