{:slug "becoming-empire",
 :page/uuid "3535df8d-0fb3-40b7-ada4-347339284151",
 :created "2024-05-31",
 :readiness :wtf-is-this,
 :title "Becoming Empire",
 :lang :en,
 :page/slug "becoming-empire",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "3535df8d-0fb3-40b7-ada4-347339284151"}
