{:slug "tidy-first-notes",
 :page/uuid "356c6009-aa12-4ec7-bb31-5835ca47e31c",
 :created "2024-03-08",
 :readiness :wtf-is-this,
 :title "Tidy First?: notes and commentary",
 :lang :en,
 :page/slug "tidy-first-notes",
 :author-url "https://teod.eu",
 :uuid "356c6009-aa12-4ec7-bb31-5835ca47e31c"}
