{:slug "dont-assume-trust-build-trust",
 :page/uuid "37e07eec-4b5c-498a-875e-b4c4267dbfd2",
 :created "2023-05-26",
 :readiness :wtf-is-this,
 :title "Don't assume trust. Build trust.",
 :lang :en,
 :page/slug "dont-assume-trust-build-trust",
 :author-url "https://teod.eu",
 :uuid "37e07eec-4b5c-498a-875e-b4c4267dbfd2"}
