{:slug "hammock-driven-development",
 :page/uuid "39291BEF-2047-48E8-BA21-6CCEF5F2FF90",
 :created "2024-03-16",
 :readiness :wtf-is-this,
 :title "Hammock Driven Development",
 :lang :en,
 :page/slug "hammock-driven-development",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "39291BEF-2047-48E8-BA21-6CCEF5F2FF90"}
