{:slug "reading-it-later",
 :title "A \"read it later\" strategy that works",
 :readiness :wtf-is-this,
 :uuid "394f1b56-753e-40d2-a51c-3fcf58bee8c1",
 :author-url "https://teod.eu",
 :created "2022-09-20",
 :lang :en}
