{:slug "the-art-of-unix-programming",
 :title "The Art of Unix Programming",
 :readiness :wtf-is-this,
 :uuid "3aa87eb3-5ab3-4897-9057-fd463c8bd980",
 :created "2022-09-21",
 :lang :en,
 :form :remote-reference}
