{:slug "llewellyn-falco",
 :page/uuid "3aad72b0-3fc1-422c-aab5-5c900974013a",
 :created "2024-05-26",
 :readiness :wtf-is-this,
 :title "Llewellyn Falco",
 :lang :en,
 :page/slug "llewellyn-falco",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "3aad72b0-3fc1-422c-aab5-5c900974013a"}
