{:slug "daniel-slutsky",
 :page/uuid "3c798467-1dcc-480a-b38a-b9915ae0e497",
 :created "2022-10-23",
 :readiness :wtf-is-this,
 :title "Daniel Slutsky",
 :lang :en,
 :page/slug "daniel-slutsky",
 :form :remote-reference,
 :uuid "3c798467-1dcc-480a-b38a-b9915ae0e497"}
