{:slug "charles-comstock-sketches",
 :page/uuid "3e277668-bb98-484e-8c1b-85bd3a75e3b4",
 :created "2022-09-21",
 :readiness :wtf-is-this,
 :title "Charles Comstock's sketches",
 :lang :en,
 :page/slug "charles-comstock-sketches",
 :author-url "https://teod.eu",
 :uuid "3e277668-bb98-484e-8c1b-85bd3a75e3b4"}
