{:slug "estimating-pi-with-dtype-next-and-clojure-vectors",
 :page/uuid "3eef00ee-2883-4d02-a527-96017f0e6b27",
 :builder :no-op,
 :created "2025-02-23",
 :readiness :wtf-is-this,
 :title "Estimating Pi with dtype-next and Clojure vectors",
 :lang :en,
 :page/slug "estimating-pi-with-dtype-next-and-clojure-vectors",
 :author-url "https://teod.eu",
 :uuid "3eef00ee-2883-4d02-a527-96017f0e6b27"}
