{:slug "arne-brasseur",
 :page/uuid "3f4cbc3b-c4cc-411a-8e4e-83baa42a2cb3",
 :created "2023-08-06",
 :readiness :wtf-is-this,
 :title "Arne Brasseur",
 :lang :en,
 :page/slug "arne-brasseur",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "3f4cbc3b-c4cc-411a-8e4e-83baa42a2cb3"}
