{:slug "simone-de-beauvoir",
 :page/uuid "40629ca8-68df-40e9-a40c-33460b683df8",
 :created "2023-05-09",
 :readiness :wtf-is-this,
 :title "Simone de Beauvoir",
 :lang :en,
 :page/slug "simone-de-beauvoir",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "40629ca8-68df-40e9-a40c-33460b683df8"}
