{:slug "nextjournal",
 :page/uuid "40b72230-c4a9-4ce1-9e77-1d3547addc90",
 :created "2024-04-13",
 :readiness :wtf-is-this,
 :title "Nextjournal",
 :lang :en,
 :page/slug "nextjournal",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "40b72230-c4a9-4ce1-9e77-1d3547addc90"}
