{:slug "org-mode",
 :page/uuid "41a5fb14-fe06-4b38-9c93-046554836446",
 :created "2024-04-14",
 :readiness :wtf-is-this,
 :title "Org-mode",
 :lang :en,
 :page/slug "org-mode",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "41a5fb14-fe06-4b38-9c93-046554836446"}
