{:slug "lessons-learned-teaching-elm-to-kids",
 :page/uuid "436d7df4-f986-4bff-8efa-44bf72099859",
 :created "2023-04-30",
 :readiness :wtf-is-this,
 :title "Lessons learned teaching Elm to kids",
 :lang :en,
 :page/slug "lessons-learned-teaching-elm-to-kids",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "436d7df4-f986-4bff-8efa-44bf72099859"}
