{:slug "marty-cagan",
 :page/uuid "45f5cc28-79f9-4a88-930f-06f77e727479",
 :created "2022-09-21",
 :readiness :wtf-is-this,
 :title "Marty Cagan",
 :lang :en,
 :page/slug "marty-cagan",
 :form :remote-reference,
 :uuid "45f5cc28-79f9-4a88-930f-06f77e727479"}
