{:slug "adam-wiggins",
 :page/uuid "48b4e75a-2103-428a-973d-83ca972c9464",
 :created "2023-03-20",
 :readiness :wtf-is-this,
 :title "Adam Wiggins",
 :lang :en,
 :page/slug "adam-wiggins",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "48b4e75a-2103-428a-973d-83ca972c9464"}
