{:slug "polyglot-abundance",
 :title "Polyglot programming from an abundence mindset",
 :readiness :wtf-is-this,
 :uuid "499243a4-7b24-4937-8f95-066d28ae6fe0",
 :author-url "https://teod.eu",
 :created "2023-03-30",
 :lang :en}
