{:slug "polyglot-abundance",
 :page/uuid "499243a4-7b24-4937-8f95-066d28ae6fe0",
 :created "2023-03-30",
 :readiness :wtf-is-this,
 :title "Polyglot programming from an abundence mindset",
 :lang :en,
 :page/slug "polyglot-abundance",
 :author-url "https://teod.eu",
 :uuid "499243a4-7b24-4937-8f95-066d28ae6fe0"}
