{:slug "john-backus",
 :page/uuid "49c68458-d374-499e-b78b-8c282cf7e089",
 :created "2023-03-27",
 :readiness :wtf-is-this,
 :title "John Backus",
 :lang :en,
 :page/slug "john-backus",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "49c68458-d374-499e-b78b-8c282cf7e089"}
