{:slug "liste-opsjoner-presentasjoner",
 :page/uuid "4b5eec18-2c51-49bf-b69e-87c6ce07a417",
 :created "2023-02-17",
 :readiness :wtf-is-this,
 :title "Liste over opsjoner på presentasjoner",
 :lang :en,
 :page/slug "liste-opsjoner-presentasjoner",
 :author-url "https://teod.eu",
 :uuid "4b5eec18-2c51-49bf-b69e-87c6ce07a417"}
