{:slug "jack-rusher",
 :page/uuid "4ba42678-1667-426d-a07f-dfe96ab46bd2",
 :created "2023-04-24",
 :readiness :wtf-is-this,
 :title "Jack Rusher",
 :lang :en,
 :page/slug "jack-rusher",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "4ba42678-1667-426d-a07f-dfe96ab46bd2"}
