{:slug "eric-raymond",
 :page/uuid "4c29d9b7-617e-4178-83ca-e3c83cbd6e63",
 :created "2022-09-21",
 :readiness :wtf-is-this,
 :title "Eric Raymond",
 :lang :en,
 :page/slug "eric-raymond",
 :form :remote-reference,
 :uuid "4c29d9b7-617e-4178-83ca-e3c83cbd6e63"}
