{:slug "empowered",
 :page/uuid "4c96fb35-ee33-4386-b2b8-f7b80cd5d8a5",
 :created "2022-09-21",
 :readiness :wtf-is-this,
 :title "Empowered",
 :lang :en,
 :page/slug "empowered",
 :form :remote-reference,
 :uuid "4c96fb35-ee33-4386-b2b8-f7b80cd5d8a5"}
