{:slug "how-to-solve-problems",
 :page/uuid "4cd857d6-b081-4bc5-9fdf-4a3af61bd9a0",
 :created "2022-12-31",
 :readiness :wtf-is-this,
 :title "How to solve problems",
 :lang :en,
 :page/slug "how-to-solve-problems",
 :author-url "https://teod.eu",
 :uuid "4cd857d6-b081-4bc5-9fdf-4a3af61bd9a0"}
