{:slug "episteme",
 :page/uuid "4f080a65-bb30-4d08-8d37-db878dd852b3",
 :created "2023-08-05",
 :readiness :wtf-is-this,
 :title "episteme",
 :lang :en,
 :page/slug "episteme",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "4f080a65-bb30-4d08-8d37-db878dd852b3"}
