{:slug "limbo-faster-wider-denser",
 :page/uuid "50c37438-b2ed-4236-bca2-ca87061d53f7",
 :created "2025-06-18",
 :readiness :wtf-is-this,
 :title
 "Limbo: Faster, Wider, Denser — or How I Argued With Kent Beck and Learned Something",
 :lang :en,
 :page/slug "limbo-faster-wider-denser",
 :author-url "https://teod.eu",
 :uuid "50c37438-b2ed-4236-bca2-ca87061d53f7"}
