{:slug "write-shit-down-reasons",
 :title "Seven reasons you should write shit down",
 :readiness :wtf-is-this,
 :uuid "52f0ba07-7748-400d-910e-2ec833c17800",
 :author-url "https://teod.eu",
 :created "2023-01-14",
 :lang :en}
