{:slug "babashka",
 :page/uuid "5345d063-8018-4bde-8574-8ab9df27f479",
 :created "2023-04-30",
 :readiness :wtf-is-this,
 :title "Babashka",
 :lang :en,
 :page/slug "babashka",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "5345d063-8018-4bde-8574-8ab9df27f479"}
