{:slug "alan-kay",
 :page/uuid "539FAE92-F436-49AD-8CB7-45B95A744C12",
 :created "2024-03-22",
 :readiness :wtf-is-this,
 :title "Alan Kay",
 :lang :en,
 :page/slug "alan-kay",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "539FAE92-F436-49AD-8CB7-45B95A744C12"}
