{:slug "interaction-value-differential",
 :title "How to ask experts for help",
 :readiness :ready-for-comments,
 :author-url "https://teod.eu",
 :uuid "55261ada-7ca6-4c94-88f5-446a9b35e5c4",
 :created "2022-07-13",
 :lang :en}
