{:slug "personal-feedback",
 :page/uuid "55a43bc3-7de1-44f6-8970-69970acad85e",
 :created "2024-03-23",
 :readiness :wtf-is-this,
 :title "Personal Feedback",
 :lang :en,
 :page/slug "personal-feedback",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "55a43bc3-7de1-44f6-8970-69970acad85e"}
