{:slug "teodor-school-system",
 :title "Teodor's school system",
 :readiness :wtf-is-this,
 :uuid "5679f20c-6564-4020-816d-0575c6456451",
 :author-url "https://teod.eu",
 :created "2023-05-27",
 :lang :en}
