{:slug "xml-on-the-web",
 :page/uuid "56cfb6c9-d78c-44f2-baed-6082654be2f4",
 :created "2022-08-08",
 :readiness :wtf-is-this,
 :title "Working with XML on the web",
 :lang :en,
 :page/slug "xml-on-the-web",
 :author-url "https://teod.eu",
 :uuid "56cfb6c9-d78c-44f2-baed-6082654be2f4"}
