{:slug "clojureverse",
 :title "Clojureverse",
 :readiness :wtf-is-this,
 :uuid "57221ffb-132c-4348-8ba4-5df6cff915d3",
 :author-url "https://teod.eu",
 :created "2023-05-27",
 :lang :en,
 :form :remote-reference}
