{:slug "friendly-ambitious-nerd",
 :title "friendly ambitious nerd",
 :readiness :wtf-is-this,
 :uuid "57341ad1-065a-4652-979d-61887803aabf",
 :created "2022-11-07",
 :lang :en,
 :form :remote-reference}
