{:slug "the-language-of-the-system",
 :page/uuid "575419ac-17d8-4b5a-b060-10aecd6fee78",
 :created "2023-07-01",
 :readiness :wtf-is-this,
 :title "The Language of the System",
 :lang :en,
 :page/slug "the-language-of-the-system",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "575419ac-17d8-4b5a-b060-10aecd6fee78"}
