{:slug "discover-difference",
 :title "Discover the difference",
 :readiness :wtf-is-this,
 :author-url "https://teod.eu",
 :lang :en,
 :uuid "57b71ae8-5038-40cd-b239-9e82c3bf9d74",
 :page/uuid "57b71ae8-5038-40cd-b239-9e82c3bf9d74",
 :page/slug "discover-difference"}
