{:slug "trust-quality-intent",
 :title "trust, shared sense of quality and shared intent",
 :readiness :wtf-is-this,
 :uuid "587fd857-1f93-4b59-935a-7681e5129665",
 :author-url "https://teod.eu",
 :created "2023-03-06",
 :lang :en}
