{:slug "solarpunk-designs",
 :page/uuid "5a2744c3-4494-4191-ae97-eb305b12b69c",
 :created "2022-07-23",
 :readiness :wtf-is-this,
 :title "How to design for a solarpunk aesthetic",
 :lang :en,
 :page/slug "solarpunk-designs",
 :author-url "https://teod.eu",
 :form :rambling,
 :uuid "5a2744c3-4494-4191-ae97-eb305b12b69c"}
