{:slug "quil",
 :page/uuid "5ac5617e-6d50-4da0-a917-59d9d00c4622",
 :created "2023-04-30",
 :readiness :wtf-is-this,
 :title "Quil",
 :lang :en,
 :page/slug "quil",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "5ac5617e-6d50-4da0-a917-59d9d00c4622"}
