{:slug "vannevar-bush",
 :author-url "https://teod.eu",
 :created "2023-06-14",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title "Vannevar Bush",
 :uuid "5b65c3e9-2c3c-4718-96ea-12fee228e1c4"}
