{:slug "dangerous-writing-app",
 :author-url "https://teod.eu",
 :created "2023-06-29",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title "dangerous writing app",
 :uuid "5baabeb7-f920-416c-941e-edbbd156f805"}
