{:slug "tom-macwright",
 :page/uuid "5ec2f465-8875-4399-b0c2-7b5cb1eb3425",
 :created "2024-01-21",
 :readiness :wtf-is-this,
 :title "Tom MacWright",
 :lang :en,
 :page/slug "tom-macwright",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "5ec2f465-8875-4399-b0c2-7b5cb1eb3425"}
