{:slug "list-of-awesome-websites",
 :page/uuid "627ec0c4-f0b3-43dd-a3e4-eca9aa0708d9",
 :created "2022-09-17",
 :readiness :wtf-is-this,
 :title "A list of awesome websites",
 :lang :en,
 :page/slug "list-of-awesome-websites",
 :author-url "https://teod.eu",
 :uuid "627ec0c4-f0b3-43dd-a3e4-eca9aa0708d9"}
