{:slug "array-programming",
 :page/uuid "6483d5f6-1124-4625-8968-172058114605",
 :created "2023-03-19",
 :readiness :wtf-is-this,
 :title "Array programming",
 :lang :en,
 :page/slug "array-programming",
 :form :remote-reference,
 :uuid "6483d5f6-1124-4625-8968-172058114605"}
