{:slug "livereload.net",
 :page/uuid "6a402fa1-2052-42cf-a31d-bec66998ae92",
 :created "2024-03-03",
 :readiness :wtf-is-this,
 :title "livereload.net",
 :lang :en,
 :page/slug "livereload.net",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "6a402fa1-2052-42cf-a31d-bec66998ae92"}
