{:slug "how-to-build-ideas",
 :page/uuid "6a894657-11a7-4342-aa52-4ea776558e95",
 :created "2022-07-30",
 :readiness :wtf-is-this,
 :title "How to build ideas",
 :lang :en,
 :page/slug "how-to-build-ideas",
 :author-url "https://teod.eu",
 :uuid "6a894657-11a7-4342-aa52-4ea776558e95"}
