{:slug "phenomenology",
 :page/uuid "6ac830ef-cb3f-48ea-924a-5304384c4b8e",
 :created "2022-08-27",
 :readiness :wtf-is-this,
 :title "phenomenology",
 :lang :en,
 :page/slug "phenomenology",
 :author-url "https://teod.eu",
 :uuid "6ac830ef-cb3f-48ea-924a-5304384c4b8e"}
