{:slug "skunk-works-book",
 :title "Skunk Works: A Personal Memoir of My Years at Lockheed",
 :readiness :wtf-is-this,
 :uuid "6b654acd-a9b6-493d-ba2b-399b574813a2",
 :author-url "https://teod.eu",
 :created "2023-03-20",
 :lang :en,
 :form :remote-reference}
