{:slug "makefile-edn",
 :page/uuid "6b942b8f-8930-4c35-bb37-57e225a8518e",
 :created "2022-07-24",
 :readiness :deprecated,
 :title "Library: makefile-edn",
 :lang :en,
 :page/slug "makefile-edn",
 :author-url "https://teod.eu",
 :uuid "6b942b8f-8930-4c35-bb37-57e225a8518e"}
