{:slug "no-rules-rules",
 :page/uuid "6ca15d90-a55e-4f0d-b185-a163ec2e077c",
 :created "2024-02-17",
 :readiness :wtf-is-this,
 :title "No Rules Rules",
 :lang :en,
 :page/slug "no-rules-rules",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "6ca15d90-a55e-4f0d-b185-a163ec2e077c"}
