{:slug "training-collaboration-delivery",
 :page/uuid "6da41413-063d-45d3-924b-aa2715a8855c",
 :created "2023-03-03",
 :readiness :wtf-is-this,
 :title "Training, collaboration, delivery",
 :lang :en,
 :page/slug "training-collaboration-delivery",
 :author-url "https://teod.eu",
 :uuid "6da41413-063d-45d3-924b-aa2715a8855c"}
