{:slug "kos.clj",
 :page/uuid "700da08a-2e4f-442f-aab5-5875132d773f",
 :created "2022-12-20",
 :readiness :wtf-is-this,
 :title "kos.clj",
 :lang :no,
 :page/slug "kos.clj",
 :author-url "https://teod.eu",
 :uuid "700da08a-2e4f-442f-aab5-5875132d773f"}
