{:slug "enter-the-forest-at-its-darkest-point",
 :title "Enter the Forest at its Darkest Point",
 :readiness :wtf-is-this,
 :uuid "70722312-22d0-4291-9dd4-aad1ea86f4ea",
 :author-url "https://teod.eu",
 :created "2023-02-15",
 :lang :en}
