{:slug "dont-hide-dragons-in-the-dark",
 :page/uuid "70750bc6-12fa-4d56-8703-7dd8c83d236c",
 :created "2022-12-18",
 :readiness :wtf-is-this,
 :title "Don't hide dragons in the dark",
 :lang :en,
 :page/slug "dont-hide-dragons-in-the-dark",
 :author-url "https://teod.eu",
 :uuid "70750bc6-12fa-4d56-8703-7dd8c83d236c"}
