{:slug "10x-utviklere-og-problemeierskap",
 :page/uuid "7119812a-aec7-4286-979e-34f92b3299ab",
 :created "2024-04-17",
 :readiness :wtf-is-this,
 :title "10x-utviklere og problemeierskap",
 :lang :en,
 :page/slug "10x-utviklere-og-problemeierskap",
 :author-url "https://teod.eu",
 :uuid "7119812a-aec7-4286-979e-34f92b3299ab"}
