{:slug "learning-to-play-support",
 :title "Learning to play support",
 :readiness :wtf-is-this,
 :uuid "71725fe3-fa18-4a69-9429-6fc306ce9368",
 :author-url "https://teod.eu",
 :created "2023-03-25",
 :lang :en}
