{:slug "elisabeth-irgens",
 :page/uuid "71D39E8D-B345-4602-95E3-1F6DDDD986D4",
 :created "2024-02-18",
 :readiness :wtf-is-this,
 :title "Elisabeth Irgens",
 :lang :en,
 :page/slug "elisabeth-irgens",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "71D39E8D-B345-4602-95E3-1F6DDDD986D4"}
