{:slug "mirroring-emotions",
 :page/uuid "721f1533-5741-46d2-9b29-7166b7e630ef",
 :created "2024-07-08",
 :readiness :wtf-is-this,
 :title "mirroring emotions",
 :lang :en,
 :page/slug "mirroring-emotions",
 :author-url "https://teod.eu",
 :uuid "721f1533-5741-46d2-9b29-7166b7e630ef"}
