{:slug "teodor-heggelund",
 :author-url "https://teod.eu",
 :created "",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title "Teodor Heggelund",
 :uuid "72328026-a75f-4c81-a434-a8fcba97b7bd"}
