{:slug "control-tax",
 :page/uuid "73762bea-6d45-44e3-ab72-d211401daef9",
 :created "2025-08-16",
 :readiness :wtf-is-this,
 :title "The Control Tax",
 :lang :en,
 :page/slug "control-tax",
 :author-url "https://teod.eu",
 :uuid "73762bea-6d45-44e3-ab72-d211401daef9"}
