{:slug "design-composition-performance",
 :page/uuid "73b93aeb-d61a-413d-a119-53335e73afda",
 :created "2023-05-29",
 :readiness :wtf-is-this,
 :title "Design, Composition and Performance",
 :lang :en,
 :page/slug "design-composition-performance",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "73b93aeb-d61a-413d-a119-53335e73afda"}
