{:slug "adventures-in-advanced-symbolic-programming",
 :page/uuid "75b85720-093b-4b0c-91fb-d6ad79c47e0c",
 :created "",
 :readiness :wtf-is-this,
 :title "Adventures in Advanced Symbolic Programming",
 :lang :en,
 :page/slug "adventures-in-advanced-symbolic-programming",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "75b85720-093b-4b0c-91fb-d6ad79c47e0c"}
