{:slug "tillit-kvalitet-intensjon-i-relasjoner",
 :title
 "Tillit, kvalitet og intensjon i relasjoner: en mentalmodell for å få ting gjort",
 :readiness :wtf-is-this,
 :uuid "77a4d1b4-fa1d-49d6-ba4a-675966dd69c4",
 :author-url "https://teod.eu",
 :created "2023-01-11",
 :lang :no}
