{:slug "motivation-in-process-or-outcomes",
 :page/uuid "77ff8579-acc1-4c35-b4df-d6ba9354815e",
 :created "2025-02-02",
 :readiness :ready-for-comments,
 :title "Finding motivation: in outcomes or in process?",
 :lang :en,
 :page/slug "motivation-in-process-or-outcomes",
 :author-url "https://teod.eu",
 :uuid "77ff8579-acc1-4c35-b4df-d6ba9354815e"}
