{:slug "motivation-in-process-or-outcomes",
 :page/uuid "77ff8579-acc1-4c35-b4df-d6ba9354815e",
 :created "2025-02-02",
 :readiness :wtf-is-this,
 :title "Finding motivation in process or outcomes",
 :lang :en,
 :page/slug "motivation-in-process-or-outcomes",
 :author-url "https://teod.eu",
 :uuid "77ff8579-acc1-4c35-b4df-d6ba9354815e"}
