{:slug "defer-the-trust-problem",
 :page/uuid "79d9c6f5-7be4-4f4e-b418-321c12e8c39f",
 :created "2023-05-09",
 :readiness :wtf-is-this,
 :title "defer the trust problem",
 :lang :en,
 :page/slug "defer-the-trust-problem",
 :author-url "https://teod.eu",
 :uuid "79d9c6f5-7be4-4f4e-b418-321c12e8c39f"}
