{:slug "holding-ideas-so-tightly-they-suffocate",
 :page/uuid "7b5e0aae-f0f3-4efa-9966-ed79484eb86a",
 :created "2023-04-30",
 :readiness :wtf-is-this,
 :title "Holding one's ideas so tightly they suffocate",
 :lang :en,
 :page/slug "holding-ideas-so-tightly-they-suffocate",
 :author-url "https://teod.eu",
 :uuid "7b5e0aae-f0f3-4efa-9966-ed79484eb86a"}
