{:slug "openfoam",
 :title "OpenFOAM",
 :readiness :wtf-is-this,
 :uuid "7b88332e-f8a7-452b-bfd8-d128728182ce",
 :author-url "https://teod.eu",
 :created "2023-03-12",
 :lang :en,
 :form :remote-reference}
