{:slug "twitter-howto",
 :page/uuid "7bba802d-4788-4858-a6ea-d9eb29ae9e3c",
 :created "2022-07-16",
 :readiness :wtf-is-this,
 :title "How to use Twitter",
 :lang :en,
 :page/slug "twitter-howto",
 :author-url "https://teod.eu",
 :uuid "7bba802d-4788-4858-a6ea-d9eb29ae9e3c"}
