{:slug "sqlitebrowser",
 :page/uuid "7c092c90-0868-44a1-b17e-fcc5be10c1ce",
 :created "2023-05-01",
 :readiness :wtf-is-this,
 :title "sqlitebrowser",
 :lang :en,
 :page/slug "sqlitebrowser",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "7c092c90-0868-44a1-b17e-fcc5be10c1ce"}
