{:slug "amedia",
 :title "Amedia",
 :readiness :wtf-is-this,
 :uuid "7cce9240-3c15-4f48-98a6-17abbb782e4d",
 :author-url "https://teod.eu",
 :created "2023-03-28",
 :lang :en,
 :form :remote-reference}
