{:slug "visakanvs-50-yr-plan-for-global-nerd-network-wip",
 :page/uuid "7d7ef8e9-9312-4cbe-9fc9-12ff7bda489b",
 :created "2023-03-09",
 :readiness :wtf-is-this,
 :title "visakanv's 50yr \"plan\" for global nerd network (wip)",
 :lang :en,
 :page/slug "visakanvs-50-yr-plan-for-global-nerd-network-wip",
 :form :remote-reference,
 :uuid "7d7ef8e9-9312-4cbe-9fc9-12ff7bda489b"}
