{:slug "visakanvs-50-yr-plan-for-global-nerd-network-wip",
 :title "visakanv's 50yr \"plan\" for global nerd network (wip)",
 :readiness :wtf-is-this,
 :uuid "7d7ef8e9-9312-4cbe-9fc9-12ff7bda489b",
 :created "2023-03-09",
 :lang :en,
 :form :remote-reference}
