{:slug "oggpow",
 :page/uuid "7e70b878-1ef2-4ab6-885b-727eb557213d",
 :created "2022-09-12",
 :readiness :wtf-is-this,
 :title "OGGPOW: A strategic framework for optionality",
 :lang :en,
 :page/slug "oggpow",
 :author-url "https://teod.eu",
 :uuid "7e70b878-1ef2-4ab6-885b-727eb557213d"}
