{:slug "oggpow",
 :title "OGGPOW: A non-coercive strategic framework",
 :readiness :wtf-is-this,
 :uuid "7e70b878-1ef2-4ab6-885b-727eb557213d",
 :author-url "https://teod.eu",
 :created "2022-09-12",
 :lang :en}
