{:slug "principle-of-charity",
 :page/uuid "7e870f15-eed2-4974-8cb8-121620f87288",
 :created "2023-03-07",
 :readiness :wtf-is-this,
 :title "Principle of Charity",
 :lang :en,
 :page/slug "principle-of-charity",
 :author-url "https://teod.eu",
 :uuid "7e870f15-eed2-4974-8cb8-121620f87288"}
