{:slug "index2",
 :page/uuid "8188ff51-c576-4645-b48a-78e26027bcf9",
 :builder :no-op,
 :created "2024-12-25",
 :readiness :wtf-is-this,
 :title "index2",
 :lang :en,
 :page/slug "index2",
 :author-url "https://teod.eu",
 :uuid "8188ff51-c576-4645-b48a-78e26027bcf9"}
