{:slug "anders-haugeto",
 :page/uuid "8326d85d-e3b9-49fc-a0d0-4174dd12572d",
 :created "2022-12-22",
 :readiness :wtf-is-this,
 :title "Anders Haugeto",
 :lang :en,
 :page/slug "anders-haugeto",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "8326d85d-e3b9-49fc-a0d0-4174dd12572d"}
