{:slug "intersection-work-play",
 :page/uuid "842f9b9a-de98-4187-863e-3e6cf1b1814d",
 :created "2022-09-20",
 :readiness :ready-for-comments,
 :title "a good intersection between work and play",
 :lang :en,
 :page/slug "intersection-work-play",
 :author-url "https://teod.eu",
 :uuid "842f9b9a-de98-4187-863e-3e6cf1b1814d"}
