{:slug "computing-learning-designing-researching",
 :page/uuid "86a0ea22-e0a5-4682-a840-4afab9b78b0f",
 :created "2025-10-21",
 :readiness :wtf-is-this,
 :title "Computing, Learning, Designing, Researching",
 :lang :en,
 :page/slug "computing-learning-designing-researching",
 :author-url "https://teod.eu",
 :uuid "86a0ea22-e0a5-4682-a840-4afab9b78b0f"}
