{:slug "bink",
 :page/uuid "86c31b09-2831-4435-a73e-91db76fcbd57",
 :created "2022-09-14",
 :readiness :deprecated,
 :title "Bink: Bookmarks are just data",
 :lang :en,
 :page/slug "bink",
 :author-url "https://teod.eu",
 :uuid "86c31b09-2831-4435-a73e-91db76fcbd57"}
