{:slug "little-memex",
 :page/uuid "8881d1fb-f3d2-4e3a-9fd8-1c42de66a31e",
 :created "2023-04-22",
 :readiness :wtf-is-this,
 :title "little memex",
 :lang :en,
 :page/slug "little-memex",
 :author-url "https://teod.eu",
 :uuid "8881d1fb-f3d2-4e3a-9fd8-1c42de66a31e"}
