{:slug "jacket",
 :page/uuid "8a7c967a-185e-4ade-a799-1dd70642351b",
 :created "2023-03-07",
 :readiness :wtf-is-this,
 :title "Jacket Interactive",
 :lang :en,
 :page/slug "jacket",
 :author-url "https://teod.eu",
 :uuid "8a7c967a-185e-4ade-a799-1dd70642351b"}
