{:slug "literature-notes",
 :page/uuid "8e72c536-9881-4477-8670-24c78edd82e7",
 :created "2022-07-17",
 :readiness :wtf-is-this,
 :title "Literature Notes",
 :lang :en,
 :page/slug "literature-notes",
 :author-url "https://teod.eu",
 :uuid "8e72c536-9881-4477-8670-24c78edd82e7"}
