{:slug "execution-for-developers",
 :title "execution for developers",
 :readiness :wtf-is-this,
 :uuid "8eade94f-28b6-4602-bb3d-8df57e22ecc1",
 :author-url "https://teod.eu",
 :created "2023-05-01",
 :lang :en}
