{:slug "pandoc",
 :page/uuid "8ebac1d6-a7e8-4556-a483-a1b1c11f832d",
 :created "2023-03-09",
 :readiness :wtf-is-this,
 :title "Pandoc",
 :lang :en,
 :page/slug "pandoc",
 :form :remote-reference,
 :uuid "8ebac1d6-a7e8-4556-a483-a1b1c11f832d"}
