{:slug "scicloj-2022-10-dbx-ideas",
 :title "Scicloj 2022-10: collective knowledge management",
 :readiness :wtf-is-this,
 :uuid "8f2d71cb-6c4a-49eb-a5a9-bbca92ad10d8",
 :author-url "https://teod.eu",
 :created "2022-10-23",
 :lang :en}
