{:slug "good-epistemology",
 :title "Good epistemology",
 :readiness :wtf-is-this,
 :seed {},
 :uuid "91873324-e6b0-4187-a335-e4e02740938b",
 :author-url "https://teod.eu",
 :created "2023-03-02",
 :lang :en}
