{:slug "git-commit-messages",
 :title "Git commit messages should be good, right?",
 :readiness :wtf-is-this,
 :author-url "https://teod.eu",
 :created "2022-07-14",
 :uuid "92115e62-f102-4c97-92cc-8c9f52d53c71",
 :lang :en}
