{:slug "clojure-data-cookbook",
 :page/uuid "93748cdc-a42a-4d68-9094-51e610cb526f",
 :created "2023-05-27",
 :readiness :wtf-is-this,
 :title "Clojure Data Cookbook",
 :lang :en,
 :page/slug "clojure-data-cookbook",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "93748cdc-a42a-4d68-9094-51e610cb526f"}
