{:slug "shades-of-deep-green",
 :title "Shades of Deep Green",
 :readiness :wtf-is-this,
 :uuid "93d32545-91b7-463e-9d61-1e3da190cf64",
 :author-url "https://teod.eu",
 :created "2022-09-10",
 :lang :en}
