{:slug "the-value-of-values",
 :page/uuid "9447cd35-15b9-49c7-b47e-537c03b48f0b",
 :created "2023-03-27",
 :readiness :wtf-is-this,
 :title "The Value of Values",
 :lang :en,
 :page/slug "the-value-of-values",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "9447cd35-15b9-49c7-b47e-537c03b48f0b"}
