{:slug "rot-her-på-tplay",
 :page/uuid "94b925c9-eac4-42c2-b3e4-519ffede64f7",
 :created "2025-10-03",
 :readiness :wtf-is-this,
 :title "Rot på Tplay",
 :lang :en,
 :page/slug "rot-her-på-tplay",
 :author-url "https://teod.eu",
 :uuid "94b925c9-eac4-42c2-b3e4-519ffede64f7"}
