{:slug "near-instant-module-tests-with-a-single-keypress",
 :page/uuid "95be2b0d-ddda-4e64-8460-a56ee60f6008",
 :created "2024-11-30",
 :readiness :wtf-is-this,
 :title "Near-instant Module Tests with a Single Keypress",
 :lang :en,
 :page/slug "near-instant-module-tests-with-a-single-keypress",
 :author-url "https://teod.eu",
 :uuid "95be2b0d-ddda-4e64-8460-a56ee60f6008"}
