{:slug "from-theory-to-practice-then-connection",
 :page/uuid "9637ecbd-54a5-4659-b662-6f8e3eb922c8",
 :created "2024-09-20",
 :readiness :wtf-is-this,
 :title "From Theory to Practice, then Connection",
 :lang :en,
 :page/slug "from-theory-to-practice-then-connection",
 :author-url "https://teod.eu",
 :uuid "9637ecbd-54a5-4659-b662-6f8e3eb922c8"}
