{:slug "the-goal-book",
 :author-url "https://teod.eu",
 :created "2023-08-05",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title "The Goal (book)",
 :uuid "96bd0a06-d9b8-47a4-99f4-a79bd8ebd0a1"}
