{:slug "clerk",
 :page/uuid "9799d27f-49d0-414a-bb94-f611588fc85c",
 :created "2022-10-20",
 :readiness :wtf-is-this,
 :title "Clerk",
 :lang :en,
 :page/slug "clerk",
 :form :remote-reference,
 :uuid "9799d27f-49d0-414a-bb94-f611588fc85c"}
