{:slug "business-readiness-level",
 :page/uuid "990561a0-48e8-4a32-a225-41650ea8edda",
 :created "2023-06-13",
 :readiness :wtf-is-this,
 :title "Business Readiness Level",
 :lang :no,
 :page/slug "business-readiness-level",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "990561a0-48e8-4a32-a225-41650ea8edda"}
