{:slug "kent-beck",
 :page/uuid "9A98EB07-B6D8-4A64-AB1A-4E32F8722272",
 :created "2024-03-08",
 :readiness :wtf-is-this,
 :title "Kent Beck",
 :lang :en,
 :page/slug "kent-beck",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "9A98EB07-B6D8-4A64-AB1A-4E32F8722272"}
