{:slug "support-challenge-carry-2",
 :page/uuid "9ac5fc10-6611-46fc-8f4f-867ed118c5ed",
 :created "2025-06-18",
 :readiness :wtf-is-this,
 :title "Support, Challenge, Carry 2",
 :lang :en,
 :page/slug "support-challenge-carry-2",
 :author-url "https://teod.eu",
 :uuid "9ac5fc10-6611-46fc-8f4f-867ed118c5ed"}
