{:slug "grace-charity-joy",
 :title "grace, charity, joy",
 :readiness :wtf-is-this,
 :uuid "9afd4f7e-8bde-49f6-8722-fd30e9c96a50",
 :author-url "https://teod.eu",
 :created "2023-04-22",
 :lang :en}
