{:slug "unix-signals-intro",
 :page/uuid "9b088c00-804d-4283-a208-f8c489696c71",
 :readiness :wtf-is-this,
 :title "Unix signals: a crash course",
 :lang :en,
 :page/slug "unix-signals-intro",
 :status :wip,
 :form :article,
 :uuid "9b088c00-804d-4283-a208-f8c489696c71"}
