{:slug "welcome-knowledge-worker",
 :page/uuid "9c186247-2fe0-4c64-b2b8-5fc6dc110911",
 :created "2022-09-21",
 :readiness :ready-for-comments,
 :title "Welcome, knowledge worker!",
 :lang :en,
 :page/slug "welcome-knowledge-worker",
 :author-url "https://teod.eu",
 :uuid "9c186247-2fe0-4c64-b2b8-5fc6dc110911"}
