{:slug "support-challenge-carry",
 :title "support, challenge, carry",
 :readiness :wtf-is-this,
 :uuid "9c67d806-b806-4c24-8c98-2e19443b9794",
 :author-url "https://teod.eu",
 :created "2023-03-07",
 :lang :en}
