{:slug "software-design-implementation-balance",
 :page/uuid "9ecab926-e143-4311-ba80-221c80dc0635",
 :created "2024-03-23",
 :readiness :ready-for-comments,
 :title
 "On the balance between design and implementation when we build software",
 :lang :en,
 :page/slug "software-design-implementation-balance",
 :author-url "https://teod.eu",
 :uuid "9ecab926-e143-4311-ba80-221c80dc0635"}
