{:slug "scicloj-libraries",
 :page/uuid "9eccb2aa-fe9a-4855-b0d3-8f89cbe1d825",
 :builder :no-op,
 :created "2022-07-30",
 :readiness :wtf-is-this,
 :title "Scicloj libraries and tools",
 :lang :en,
 :page/slug "scicloj-libraries",
 :author-url "https://teod.eu",
 :uuid "9eccb2aa-fe9a-4855-b0d3-8f89cbe1d825"}
