{:slug "fast-feedback-wide-feedback-no-branching",
 :page/uuid "a0824551-5a60-4ce0-948d-ca421313d5d1",
 :created "2023-01-20",
 :readiness :wtf-is-this,
 :title "Fast feedback, wide feedback, no branching",
 :lang :en,
 :page/slug "fast-feedback-wide-feedback-no-branching",
 :author-url "https://teod.eu",
 :uuid "a0824551-5a60-4ce0-948d-ca421313d5d1"}
