{:slug "scicloj-visual-tools",
 :page/uuid "a20497dc-314b-4296-b493-3e603f4125eb",
 :created "2023-05-27",
 :readiness :wtf-is-this,
 :title "Scicloj visual-tools",
 :lang :en,
 :page/slug "scicloj-visual-tools",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "a20497dc-314b-4296-b493-3e603f4125eb"}
