{:slug "woolit",
 :page/uuid "a27c44fa-9601-4013-ba30-251fac22ee46",
 :created "2023-03-28",
 :readiness :wtf-is-this,
 :title "Woolit",
 :lang :en,
 :page/slug "woolit",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "a27c44fa-9601-4013-ba30-251fac22ee46"}
