{:slug "trillion-dollar-coach",
 :title "Trillion Dollar Coach",
 :readiness :wtf-is-this,
 :uuid "a3ce5686-05e5-4620-8d38-77af80203184",
 :author-url "https://teod.eu",
 :created "2023-05-01",
 :lang :en,
 :form :remote-reference}
