{:slug "nassim-taleb",
 :page/uuid "a68a1144-24f0-4312-b7a4-9facfdbfc634",
 :created "2022-11-07",
 :readiness :wtf-is-this,
 :title "Nassim Taleb",
 :lang :en,
 :page/slug "nassim-taleb",
 :form :remote-reference,
 :uuid "a68a1144-24f0-4312-b7a4-9facfdbfc634"}
