{:slug "iterate-as",
 :page/uuid "A6B0A30E-7B73-44E1-A027-F1087CDD8304",
 :created "2024-03-16",
 :readiness :wtf-is-this,
 :title "Iterate AS",
 :lang :no,
 :page/slug "iterate-as",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "A6B0A30E-7B73-44E1-A027-F1087CDD8304"}
