{:slug "aoc2024",
 :page/uuid "a7b4dfaa-f5c9-43a1-ba08-a849c4049058",
 :created "2024-12-01",
 :readiness :wtf-is-this,
 :title "Age of Code 2024",
 :lang :en,
 :page/slug "aoc2024",
 :author-url "https://teod.eu",
 :uuid "a7b4dfaa-f5c9-43a1-ba08-a849c4049058"}
