{:slug "chris-nuernberger",
 :page/uuid "a878303d-3130-4dd3-9192-791ddd2cbbcf",
 :created "2023-03-19",
 :readiness :wtf-is-this,
 :title "Chris Nuernberger",
 :lang :en,
 :page/slug "chris-nuernberger",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "a878303d-3130-4dd3-9192-791ddd2cbbcf"}
