{:slug "the-pragmatic-programmer",
 :title "The Pragmatic Programmer",
 :readiness :wtf-is-this,
 :uuid "a89b6b73-bf4b-47bf-90aa-6b8bc5af93f1",
 :author-url "https://teod.eu",
 :created "2022-09-21",
 :lang :en}
