{:slug "a-perfect-day",
 :page/uuid "aaeb72f2-e2eb-4e51-b402-7f2d07150770",
 :created "2022-07-29",
 :readiness :wtf-is-this,
 :title "A perfect day",
 :lang :en,
 :page/slug "a-perfect-day",
 :author-url "https://teod.eu",
 :uuid "aaeb72f2-e2eb-4e51-b402-7f2d07150770"}
