{:slug "teodor-codes",
 :page/uuid "abb67198-8b4a-4713-b705-31fb431cd177",
 :created "2024-04-13",
 :readiness :wtf-is-this,
 :title "Teodor codes",
 :lang :en,
 :page/slug "teodor-codes",
 :author-url "https://teod.eu",
 :form :forever-incomplete,
 :uuid "abb67198-8b4a-4713-b705-31fb431cd177"}
