{:slug "weeknotes-2024",
 :page/uuid "ac6eca3d-7b01-4656-8d0c-153c4cd729cf",
 :created "2024-03-15",
 :readiness :wtf-is-this,
 :title "Weeknotes 2024",
 :lang :en,
 :page/slug "weeknotes-2024",
 :author-url "https://teod.eu",
 :uuid "ac6eca3d-7b01-4656-8d0c-153c4cd729cf"}
