{:slug "prompts-for-learning",
 :title "prompts for learning",
 :readiness :ready-for-comments,
 :uuid "ada033c3-e631-49c9-8153-b9f1c69fd31d",
 :author-url "https://teod.eu",
 :created "2023-05-01",
 :lang :en}
