{:slug "clojure-easy-parallellism-with-pipeline-blocking",
 :page/uuid "add9c8b3-ba7a-4206-929e-cdf71847028c",
 :created "2024-07-06",
 :readiness :wtf-is-this,
 :title "Easy, explicit parallellism with =pipeline-blocking=",
 :lang :en,
 :page/slug "clojure-easy-parallellism-with-pipeline-blocking",
 :author-url "https://teod.eu",
 :uuid "add9c8b3-ba7a-4206-929e-cdf71847028c"}
