{:slug "haskell-hardt-og-godt",
 :page/uuid "AE1427D5-AD4D-42B5-A971-E01E62D3D958",
 :created "2024-03-16",
 :readiness :wtf-is-this,
 :title "Haskell: hardt og godt",
 :lang :no,
 :page/slug "haskell-hardt-og-godt",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "AE1427D5-AD4D-42B5-A971-E01E62D3D958"}
