{:slug "effort-asymmetry",
 :file "drafts/effort-asymmetry.org",
 :page/uuid "ae2b3bcd-87d2-4594-bf70-213afa5ebf68",
 :created "2026-01-10",
 :readiness :ready-for-comments,
 :title "Effort asymmetry on the web",
 :lang :en,
 :page/slug "effort-asymmetry",
 :author-url "https://teod.eu",
 :uuid "ae2b3bcd-87d2-4594-bf70-213afa5ebf68"}
