{:slug "clojure-visual-tools-meeting-15-play.teod.eu-kindly",
 :page/uuid "B1860066-312A-438D-975E-6393B140121F",
 :created "2024-03-26",
 :readiness :wtf-is-this,
 :title "Clojure visual-tools meeting 15 - play.teod.eu, Kindly",
 :lang :en,
 :page/slug "clojure-visual-tools-meeting-15-play.teod.eu-kindly",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "B1860066-312A-438D-975E-6393B140121F"}
