{:slug "learning-to-discover",
 :title "Learning to discover",
 :readiness :wtf-is-this,
 :uuid "b21e4aea-7282-45e8-83a3-2d80ecdf669b",
 :author-url "https://teod.eu",
 :created "2023-03-07",
 :lang :en}
