{:slug "experiment-on-yourself",
 :title "Put the syringe into thine own arm",
 :readiness :wtf-is-this,
 :uuid "b5214ad7-53a0-4cc1-a864-abc3162b6b1a",
 :author-url "https://teod.eu",
 :created "2023-03-09",
 :lang :en}
