{:slug "iki",
 :page/uuid "b57bc14e-0a1b-49b0-a745-23c605414ba0",
 :created "2023-02-18",
 :readiness :wtf-is-this,
 :title "iki: knowledge iterated",
 :lang :en,
 :page/slug "iki",
 :author-url "https://teod.eu",
 :uuid "b57bc14e-0a1b-49b0-a745-23c605414ba0"}
