{:slug "lisp-narrow-waist",
 :title
 "Why Lisp? Because it forces the s-expression narrow waist down everyone's throats",
 :readiness :ready-for-comments,
 :uuid "b632d12b-2fee-4e29-a7a6-56ae2e0ade55",
 :author-url "https://teod.eu",
 :created "2023-03-04",
 :lang :en}
