{:slug "techne",
 :author-url "https://teod.eu",
 :created "2023-08-05",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title "techne",
 :uuid "b646678e-92bc-40d9-89aa-88749dffa079"}
