{:slug "dave-liepmann",
 :page/uuid "b6921704-d8d9-4d82-a814-3b9ced8bee31",
 :created "2023-03-19",
 :readiness :wtf-is-this,
 :title "Dave Liepmann",
 :lang :en,
 :page/slug "dave-liepmann",
 :form :remote-reference,
 :uuid "b6921704-d8d9-4d82-a814-3b9ced8bee31"}
