{:slug "play.teod.eu-retrospective",
 :title "play.teod.eu: Rolling retrospective",
 :readiness :forever-incomplete,
 :author-url "https://teod.eu",
 :created "2022-07-24",
 :uuid "b722664c-d310-4908-9b57-98ffd73833c9",
 :lang :en}
