{:slug "gerald-jay-sussman",
 :author-url "https://teod.eu",
 :created "2023-06-06",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title "Gerald Jay Sussman",
 :uuid "b726cfb2-5aff-46e7-b377-c881af59753d"}
