{:slug "bimodal-strategies",
 :page/uuid "b7446aab-c31e-4666-bf28-2728a04fd860",
 :created "2022-07-29",
 :readiness :wtf-is-this,
 :title "Bimodal strategies",
 :lang :en,
 :page/slug "bimodal-strategies",
 :author-url "https://teod.eu",
 :uuid "b7446aab-c31e-4666-bf28-2728a04fd860"}
