{:slug "extreme-programming-book",
 :page/uuid "B8C15136-516B-4753-B6AC-072640B9B99F",
 :created "2024-03-16",
 :readiness :wtf-is-this,
 :title "Extreme Programming (book)",
 :lang :en,
 :page/slug "extreme-programming-book",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "B8C15136-516B-4753-B6AC-072640B9B99F"}
