{:slug "tensor-calculus-101",
 :page/uuid "b8e8b0e5-0f49-4eee-a338-6265176ebfdc",
 :created "2023-05-10",
 :readiness :wtf-is-this,
 :title "tensor calculus 101",
 :lang :en,
 :page/slug "tensor-calculus-101",
 :author-url "https://teod.eu",
 :uuid "b8e8b0e5-0f49-4eee-a338-6265176ebfdc"}
