{:slug "fight-doomscrolling-with-babashka",
 :page/uuid "b9de9ff6-e085-4084-a5a9-ab787293ebe2",
 :builder :no-op,
 :created "2024-11-17",
 :readiness :ready-for-comments,
 :title "Fight Doomscrolling with Babashka",
 :lang :en,
 :page/slug "fight-doomscrolling-with-babashka",
 :author-url "https://teod.eu",
 :uuid "b9de9ff6-e085-4084-a5a9-ab787293ebe2"}
