{:slug "discussion-wishlist",
 :author-url "https://teod.eu",
 :created "2023-06-06",
 :lang :en,
 :readiness :wtf-is-this,
 :title "discussion wishlist",
 :uuid "bac1204a-183a-4210-ae93-b4cee2fd1b03"}
