{:slug "chris-hanson",
 :page/uuid "bc79cbf6-145d-4674-afa6-799c8fdb81a3",
 :created "2023-10-29",
 :readiness :wtf-is-this,
 :title "Chris Hanson",
 :lang :en,
 :page/slug "chris-hanson",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "bc79cbf6-145d-4674-afa6-799c8fdb81a3"}
