{:slug "hypertext-the-medium-is-the-message",
 :page/uuid "bc850da4-64c2-416e-b31c-417bcf24a4fe",
 :created "2023-04-27",
 :readiness :wtf-is-this,
 :title "Hypertext: The medium is the message",
 :lang :en,
 :page/slug "hypertext-the-medium-is-the-message",
 :author-url "https://teod.eu",
 :uuid "bc850da4-64c2-416e-b31c-417bcf24a4fe"}
