{:slug "lars-barlindhaug",
 :page/uuid "BC86AE82-0612-4073-B9DF-C0A6625CBEBF",
 :created "2024-03-22",
 :readiness :wtf-is-this,
 :title "Lars Barlindhaug",
 :lang :en,
 :page/slug "lars-barlindhaug",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "BC86AE82-0612-4073-B9DF-C0A6625CBEBF"}
