{:slug "oddmunds-list-of-ideas-without-body",
 :title "Oddmunds liste over ideer uten kropp",
 :readiness :wtf-is-this,
 :uuid "bca50118-6b1b-46ac-a19d-3604aafc8e51",
 :author-url "https://teod.eu",
 :created "2023-01-02",
 :lang :en}
