{:slug "jeremy-vuillermet",
 :page/uuid "bdbed0b8-b25c-4ad3-9c7c-c50215eddc77",
 :created "2023-05-27",
 :readiness :wtf-is-this,
 :title "Jeremy Vuillermet",
 :lang :en,
 :page/slug "jeremy-vuillermet",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "bdbed0b8-b25c-4ad3-9c7c-c50215eddc77"}
