{:slug "paths-towards-simplicity",
 :page/uuid "bdcd7cc6-9165-4e0f-9a8a-58608e1280ac",
 :created "2026-04-02",
 :readiness :wtf-is-this,
 :title "Paths toward simplicity",
 :lang :en,
 :page/slug "paths-towards-simplicity",
 :author-url "https://teod.eu",
 :uuid "bdcd7cc6-9165-4e0f-9a8a-58608e1280ac"}
