{:slug "software-architecture",
 :title "software-architecture",
 :readiness :wtf-is-this,
 :author-url "https://teod.eu",
 :lang :en,
 :uuid "bdf30a1a-33ee-4f76-a97a-9d8825fdfcb3",
 :page/uuid "bdf30a1a-33ee-4f76-a97a-9d8825fdfcb3",
 :page/slug "software-architecture"}
