{:slug "macroexpand-2025-noj",
 :page/uuid "bf425a46-0084-48bd-9a4f-c9083170b51b",
 :created "2025-10-21",
 :readiness :wtf-is-this,
 :title "Macroexpand 2025 Noj",
 :lang :en,
 :page/slug "macroexpand-2025-noj",
 :author-url "https://teod.eu",
 :uuid "bf425a46-0084-48bd-9a4f-c9083170b51b"}
