{:slug "ole-jacob",
 :title "Ole Jacob",
 :readiness :wtf-is-this,
 :uuid "c02b9b51-6ea2-47a9-8037-f0346a7974a7",
 :author-url "https://teod.eu",
 :created "2023-05-11",
 :lang :en,
 :form :remote-reference}
