{:slug "katta-3b",
 :page/uuid "c02c42ce-5ba4-4957-9752-95a18b120bf1",
 :created "2023-05-25",
 :readiness :noindex,
 :title "Katta 3B: grilling på St. Hanshaugen",
 :lang :no,
 :page/slug "katta-3b",
 :author-url "https://teod.eu",
 :uuid "c02c42ce-5ba4-4957-9752-95a18b120bf1"}
