{:slug "your-ethics",
 :page/uuid "c030f65d-8a17-47b0-8cee-c46bf6daf936",
 :created "2024-05-26",
 :readiness :ready-for-comments,
 :title "Your Ethics",
 :lang :en,
 :page/slug "your-ethics",
 :author-url "https://teod.eu",
 :uuid "c030f65d-8a17-47b0-8cee-c46bf6daf936"}
