{:slug "steven-pressfield",
 :page/uuid "c24fb740-235f-4798-aee6-a3075a45fef6",
 :created "2022-11-07",
 :readiness :wtf-is-this,
 :title "Steven Pressfield",
 :lang :en,
 :page/slug "steven-pressfield",
 :form :remote-reference,
 :uuid "c24fb740-235f-4798-aee6-a3075a45fef6"}
