{:slug "gert-goet",
 :author-url "https://teod.eu",
 :created "2023-06-14",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title "Gert Goet",
 :uuid "c4cfd85f-13ae-49ef-8613-f3c495260a61"}
