{:slug "capability-feature-assembly",
 :title "Software architecture as capability, feature and assembly",
 :readiness :wtf-is-this,
 :author-url "https://teod.eu",
 :uuid "c8131839-be8d-4ca8-8bc3-eac72cfade15",
 :lang :en}
