{:slug "lord-of-the-rings",
 :page/uuid "c977d38f-8c20-4650-8da7-b922d5a4b252",
 :created "2023-08-27",
 :readiness :wtf-is-this,
 :title "Lord of the Rings",
 :lang :en,
 :page/slug "lord-of-the-rings",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "c977d38f-8c20-4650-8da7-b922d5a4b252"}
