{:slug "in-theory-it-makes-sense-in-practice-it-works",
 :page/uuid "c9bc1684-88b0-444b-9d45-2c9cef27d0c5",
 :created "2024-06-17",
 :readiness :ready-for-comments,
 :title "In theory, it makes sense; in practice, it works",
 :lang :en,
 :page/slug "in-theory-it-makes-sense-in-practice-it-works",
 :author-url "https://teod.eu",
 :uuid "c9bc1684-88b0-444b-9d45-2c9cef27d0c5"}
