{:slug "formal-theory-informal-relations",
 :page/uuid "c9e2ec56-91f0-4955-8b18-15c9a773e7f9",
 :created "2023-03-09",
 :readiness :wtf-is-this,
 :title "Formal theory, informal relations",
 :lang :en,
 :page/slug "formal-theory-informal-relations",
 :author-url "https://teod.eu",
 :uuid "c9e2ec56-91f0-4955-8b18-15c9a773e7f9"}
