{:slug "denotational-design",
 :page/uuid "cab02e40-98f3-4baa-b375-be8736ceb88a",
 :created "2022-10-15",
 :readiness :wtf-is-this,
 :title "Denotational Design",
 :lang :en,
 :page/slug "denotational-design",
 :form :remote-reference,
 :uuid "cab02e40-98f3-4baa-b375-be8736ceb88a"}
