{:slug "product-for-developers",
 :title "Product discovery for software developers",
 :form :article,
 :readiness :wtf-is-this,
 :lang :en,
 :uuid "cda89d19-741f-488f-b312-c92572547279",
 :page/uuid "cda89d19-741f-488f-b312-c92572547279",
 :page/slug "product-for-developers"}
