{:slug "olav-moseng",
 :page/uuid "CDD3941A-12F8-414E-8B76-29BC5B5E8D4E",
 :created "2024-03-16",
 :readiness :wtf-is-this,
 :title "Olav Moseng",
 :lang :en,
 :page/slug "olav-moseng",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "CDD3941A-12F8-414E-8B76-29BC5B5E8D4E"}
