{:slug "pain-on-steel",
 :page/uuid "ce22160b-013d-46e6-913b-a3d8c1ee6852",
 :created "2024-05-26",
 :readiness :ready-for-comments,
 :title "Pain on Steel",
 :lang :en,
 :page/slug "pain-on-steel",
 :author-url "https://teod.eu",
 :uuid "ce22160b-013d-46e6-913b-a3d8c1ee6852"}
