{:slug "zach-tellman",
 :page/uuid "cf51b512-3236-4c9d-befa-a477994123e0",
 :created "2023-03-20",
 :readiness :wtf-is-this,
 :title "Zach Tellman",
 :lang :en,
 :page/slug "zach-tellman",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "cf51b512-3236-4c9d-befa-a477994123e0"}
