{:slug "javascript-modules",
 :page/uuid "D21277C7-459A-4340-BACD-2D533380D47A",
 :created "2024-03-29",
 :readiness :wtf-is-this,
 :title "JavaScript modules",
 :lang :en,
 :page/slug "javascript-modules",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "D21277C7-459A-4340-BACD-2D533380D47A"}
