{:slug "the-bed-of-procrustes",
 :title "The Bed of Procrustes",
 :readiness :wtf-is-this,
 :uuid "d2123911-3c3b-4f38-88f3-dfaf146f02be",
 :created "2023-03-10",
 :lang :en,
 :form :remote-reference}
