{:slug "refs.teod.eu",
 :page/uuid "d3effe35-507a-42fc-8993-b464db2cccb1",
 :created "2025-10-03",
 :readiness :wtf-is-this,
 :title "refs.teod.eu",
 :lang :en,
 :page/slug "refs.teod.eu",
 :author-url "https://teod.eu",
 :uuid "d3effe35-507a-42fc-8993-b464db2cccb1"}
