{:slug "dark-agile",
 :page/uuid "d8733fcf-4d5e-4e52-ae8e-50dc5f1991d1",
 :created "2022-09-25",
 :readiness :wtf-is-this,
 :title "Dark Agile",
 :lang :en,
 :page/slug "dark-agile",
 :form :remote-reference,
 :uuid "d8733fcf-4d5e-4e52-ae8e-50dc5f1991d1"}
