{:slug "terran-webdev",
 :page/uuid "db969a2d-996c-4594-ab41-1446507f5f90",
 :created "2026-01-06",
 :readiness :wtf-is-this,
 :title "Terran webdev: grounded tools for interactive web",
 :lang :en,
 :page/slug "terran-webdev",
 :author-url "https://teod.eu",
 :uuid "db969a2d-996c-4594-ab41-1446507f5f90"}
