{:slug "boostrapping-research-and-dynamicland-dec-2019",
 :page/uuid "dc085ab8-5e71-45f8-b5d6-71d178179cd7",
 :created "2024-04-27",
 :readiness :wtf-is-this,
 :title "Bootstrapping Research & Dynamicland, Dec 2019",
 :lang :en,
 :page/slug "boostrapping-research-and-dynamicland-dec-2019",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "dc085ab8-5e71-45f8-b5d6-71d178179cd7"}
