{:slug "the-beginning-of-infinity",
 :title "The Beginning of Infinity",
 :readiness :wtf-is-this,
 :uuid "dde82bbc-e4c8-49c0-b577-dba0cba0bdf7",
 :author-url "https://teod.eu",
 :created "2022-09-21",
 :lang :en}
