{:slug "munit",
 :page/uuid "dfbb5115-dec8-47ef-b504-343f8f9364eb",
 :created "2025-10-21",
 :readiness :wtf-is-this,
 :title "Munit",
 :lang :en,
 :page/slug "munit",
 :author-url "https://teod.eu",
 :uuid "dfbb5115-dec8-47ef-b504-343f8f9364eb"}
