{:slug "lindy-compatibility",
 :page/uuid "dfd45cfa-3154-47ef-8f74-06fe0e69715e",
 :created "2023-05-01",
 :readiness :wtf-is-this,
 :title "lindy compatibility",
 :lang :en,
 :page/slug "lindy-compatibility",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "dfd45cfa-3154-47ef-8f74-06fe0e69715e"}
