{:slug "good-code-good-explanation",
 :title "Good code as good explanations",
 :readiness :wtf-is-this,
 :uuid "e1354351-b206-4758-a6d7-122343aa6a7f",
 :author-url "https://teod.eu",
 :created "2023-03-27",
 :lang :en}
