{:slug "stupid-games-stupid-prizes",
 :page/uuid "e1d1d9f4-9991-458c-ac9b-d7573b54c2cc",
 :created "2023-03-08",
 :readiness :wtf-is-this,
 :title "play stupid games, win stupid prizes",
 :lang :en,
 :page/slug "stupid-games-stupid-prizes",
 :author-url "https://teod.eu",
 :uuid "e1d1d9f4-9991-458c-ac9b-d7573b54c2cc"}
