{:slug "stuart-halloway",
 :page/uuid "E54C0804-7AC9-4ABB-9F5B-5C0B1584030D",
 :created "2024-03-16",
 :readiness :wtf-is-this,
 :title "Stuart Halloway",
 :lang :en,
 :page/slug "stuart-halloway",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "E54C0804-7AC9-4ABB-9F5B-5C0B1584030D"}
