{:slug "writing-is-fake",
 :page/uuid "e7949444-e208-40ff-9979-5fb6852ff57c",
 :created "2023-02-14",
 :readiness :wtf-is-this,
 :title "Writing is fake",
 :lang :en,
 :page/slug "writing-is-fake",
 :author-url "https://teod.eu",
 :uuid "e7949444-e208-40ff-9979-5fb6852ff57c"}
