{:slug "outcome-orientation-or-not",
 :page/uuid "e868f48d-019d-4664-b06f-12c699f950e5",
 :created "",
 :readiness :wtf-is-this,
 :title "Outcome orientation! Or ... not?",
 :lang :en,
 :page/slug "outcome-orientation-or-not",
 :author-url "https://teod.eu",
 :uuid "e868f48d-019d-4664-b06f-12c699f950e5"}
