{:slug "hypermedia-driven-interfaces-in-babashka",
 :page/uuid "e8f57251-e7d0-47f8-8048-1eefb630249e",
 :builder :no-op,
 :created "2025-09-06",
 :readiness :wtf-is-this,
 :title "Hypermedia-driven interfaces in Babashka",
 :lang :en,
 :page/slug "hypermedia-driven-interfaces-in-babashka",
 :author-url "https://teod.eu",
 :uuid "e8f57251-e7d0-47f8-8048-1eefb630249e"}
