{:slug "interface-perception-design",
 :page/uuid "e9a97a46-f252-4883-a311-21b20528d14d",
 :created "2022-07-18",
 :readiness :wtf-is-this,
 :title "Interface, Perception, Design",
 :lang :en,
 :page/slug "interface-perception-design",
 :author-url "https://teod.eu",
 :uuid "e9a97a46-f252-4883-a311-21b20528d14d"}
