{:slug "git",
 :page/uuid "e9ad88c6-f5a4-479b-a1c7-8dc1e2a8471a",
 :created "2023-05-29",
 :readiness :wtf-is-this,
 :title "Git",
 :lang :en,
 :page/slug "git",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "e9ad88c6-f5a4-479b-a1c7-8dc1e2a8471a"}
