{:slug "powerful-abstractions-are-conceptually-far-from-applications",
 :page/uuid "ea546554-616a-4b9e-b4c2-037e5eea9492",
 :created "2025-06-19",
 :readiness :wtf-is-this,
 :title "Powerful abstractions are conceptually far from applications",
 :lang :en,
 :page/slug
 "powerful-abstractions-are-conceptually-far-from-applications",
 :author-url "https://teod.eu",
 :uuid "ea546554-616a-4b9e-b4c2-037e5eea9492"}
