{:slug "memextogether",
 :page/uuid "eb485858-e481-400f-b48b-982926939d0e",
 :created "2023-10-21",
 :readiness :wtf-is-this,
 :title "Memextogether",
 :lang :en,
 :page/slug "memextogether",
 :author-url "https://teod.eu",
 :uuid "eb485858-e481-400f-b48b-982926939d0e"}
