{:slug "overtone",
 :page/uuid "EBDC5A9A-6B70-4FD4-8BFC-635C08521879",
 :created "2023-12-23",
 :readiness :wtf-is-this,
 :title "Overtone",
 :lang :en,
 :page/slug "overtone",
 :author-url "https://teod.eu",
 :uuid "EBDC5A9A-6B70-4FD4-8BFC-635C08521879"}
