{:slug "programmer-cultivate-your-curiosity",
 :page/uuid "ed7bbc77-18b0-4092-bd7d-f127d7bc3041",
 :created "2023-03-03",
 :readiness :wtf-is-this,
 :title "Programmer, cultivate your curiosity!",
 :lang :en,
 :page/slug "programmer-cultivate-your-curiosity",
 :author-url "https://teod.eu",
 :uuid "ed7bbc77-18b0-4092-bd7d-f127d7bc3041"}
