{:slug "overkjort-av-bankid",
 :page/uuid "ef4f6891-9f9e-40c6-8a50-ff2f24dfa8cb",
 :created "2026-03-11",
 :readiness :ready-for-comments,
 :title "Overkjørt av BankID",
 :lang :no,
 :page/slug "overkjort-av-bankid",
 :author-url "https://teod.eu",
 :uuid "ef4f6891-9f9e-40c6-8a50-ff2f24dfa8cb"}
