{:slug "do-the-simplest-thing-possible",
 :page/uuid "ef835eb0-e607-4a81-984c-0ee3410042df",
 :created "2024-11-03",
 :readiness :ready-for-comments,
 :title "Do the simplest thing possible!",
 :lang :en,
 :page/slug "do-the-simplest-thing-possible",
 :author-url "https://teod.eu",
 :uuid "ef835eb0-e607-4a81-984c-0ee3410042df"}
