{:slug "growth-mindset",
 :title "growth mindset",
 :readiness :wtf-is-this,
 :uuid "efbb9f44-9a8e-436e-bf68-ff19d5bd990c",
 :author-url "https://teod.eu",
 :created "2023-05-01",
 :lang :en,
 :form :remote-reference}
