{:slug "symmathesy",
 :author-url "https://teod.eu",
 :created "2023-06-14",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title "symmathesy",
 :uuid "f14b4cd9-75ff-4eec-814b-5de38d01a455"}
