{:slug "spaghettifabrikken",
 :page/uuid "f19dd2e4-e45e-484b-bcfb-5436e6ca1e53",
 :created "2022-10-04",
 :readiness :wtf-is-this,
 :title "Factorio dedicated server",
 :lang :en,
 :page/slug "spaghettifabrikken",
 :author-url "https://teod.eu",
 :uuid "f19dd2e4-e45e-484b-bcfb-5436e6ca1e53"}
