{:slug "computing-with-units-in-clojure",
 :page/uuid "f1d7b900-1951-4bf2-9529-65bb3d28c1df",
 :created "2025-10-24",
 :readiness :wtf-is-this,
 :title "Computing with units in Clojure",
 :lang :en,
 :page/slug "computing-with-units-in-clojure",
 :author-url "https://teod.eu",
 :uuid "f1d7b900-1951-4bf2-9529-65bb3d28c1df"}
