{:slug "richard-tingstad",
 :page/uuid "F27778B8-1C99-4438-B3FD-602AE258C748",
 :created "2024-03-16",
 :readiness :wtf-is-this,
 :title "Richard Tingstad",
 :lang :en,
 :page/slug "richard-tingstad",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "F27778B8-1C99-4438-B3FD-602AE258C748"}
