{:slug "kondo-hooks-for-application-programmers",
 :page/uuid "f31674d1-63f8-4e1e-8aa0-38698ab53602",
 :builder :no-op,
 :created "2025-10-01",
 :readiness :wtf-is-this,
 :title "CLJ-Kondo hooks for application programmers",
 :lang :en,
 :page/slug "kondo-hooks-for-application-programmers",
 :author-url "https://teod.eu",
 :uuid "f31674d1-63f8-4e1e-8aa0-38698ab53602"}
