{:slug "tools",
 :page/uuid "f71dae68-f21c-4a6c-a7b5-56272c57c185",
 :created "2022-10-01",
 :readiness :wtf-is-this,
 :title "tools",
 :lang :en,
 :page/slug "tools",
 :author-url "https://teod.eu",
 :uuid "f71dae68-f21c-4a6c-a7b5-56272c57c185"}
