{:slug "emacs-lisp-rosetta-for-clojurians",
 :page/uuid "f777f427-209c-4525-aef7-c8ce889018b2",
 :created "2022-09-10",
 :readiness :wtf-is-this,
 :title "An Emacs Lisp rosetta for Clojurians",
 :lang :en,
 :page/slug "emacs-lisp-rosetta-for-clojurians",
 :author-url "https://teod.eu",
 :uuid "f777f427-209c-4525-aef7-c8ce889018b2"}
