{:slug "the-war-of-art",
 :page/uuid "fa08845b-32ed-4e74-a458-de85884da52d",
 :created "2022-11-07",
 :readiness :wtf-is-this,
 :title "The War of Art",
 :lang :en,
 :page/slug "the-war-of-art",
 :form :remote-reference,
 :uuid "fa08845b-32ed-4e74-a458-de85884da52d"}
