{:slug "elm-lang",
 :page/uuid "fa743cc8-7c40-4092-b685-496db87664f6",
 :created "2024-04-27",
 :readiness :wtf-is-this,
 :title "Elm (programming language)",
 :lang :en,
 :page/slug "elm-lang",
 :author-url "https://teod.eu",
 :form :remote-reference,
 :uuid "fa743cc8-7c40-4092-b685-496db87664f6"}
