{:slug "thesis-antithesis-synthesis",
 :page/uuid "fb582b97-d921-4e46-a21e-f8fb41b35a95",
 :created "2022-07-16",
 :readiness :wtf-is-this,
 :title "Thesis, anitthesis, synthesis",
 :lang :en,
 :page/slug "thesis-antithesis-synthesis",
 :author-url "https://teod.eu",
 :uuid "fb582b97-d921-4e46-a21e-f8fb41b35a95"}
