{:slug "understanding-datafy-nav",
 :page/uuid "ffe69f24-6817-4330-96a6-f0d2598cbd14",
 :created "2023-02-14",
 :readiness :wtf-is-this,
 :title "Understanding Clojure's datafy and nav",
 :lang :en,
 :page/slug "understanding-datafy-nav",
 :author-url "https://teod.eu",
 :uuid "ffe69f24-6817-4330-96a6-f0d2598cbd14"}
