{:author-url "https://teod.eu",
 :created "2024-03-26",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title "Clojure visual-tools meeting 15 - play.teod.eu, Kindly",
 :uuid "B1860066-312A-438D-975E-6393B140121F"}
