{:title "Kristian Collin Berge",
 :readiness :wtf-is-this,
 :uuid "df393f09-0441-4919-aabb-a1773feb2eee",
 :author-url "https://teod.eu",
 :created "2023-03-27",
 :lang :en,
 :form :remote-reference}
