{:title "Can programming be liberated from the von Neumann style?",
 :readiness :wtf-is-this,
 :uuid "90d3bd28-49e6-486f-a748-ba9a5a51c2dd",
 :author-url "https://teod.eu",
 :created "2023-03-27",
 :lang :en,
 :form :remote-reference}
