{:author-url "https://teod.eu", :created "2026-03-11", :lang :en, :readiness :ready-for-comments, :uuid "2c617481-68a5-4406-b640-77289a0ae4e9", :title "the toiL eLiMinator", :slug "the-toil-eliminator"}
