{:author-url "https://teod.eu",
 :created "2024-09-14",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title
 "Programming in an Interactive Environment: the Lisp Experience",
 :uuid "10832edb-0cd2-4f46-abef-b94d3ce0a20f"}
