{:title "The Ethics of Ambiguity",
 :readiness :wtf-is-this,
 :uuid "63ee3837-fb0e-43c9-81fd-1f0b5b2c7bd6",
 :author-url "https://teod.eu",
 :created "2023-05-09",
 :lang :en,
 :form :remote-reference}
