{:author-url "https://teod.eu",
 :created "2024-07-06",
 :lang :en,
 :readiness :wtf-is-this,
 :title "Easy, explicit parallellism with =pipeline-blocking=",
 :uuid "add9c8b3-ba7a-4206-929e-cdf71847028c"}
