{:title
 "Facing burnout, finding meaning and making space for deep work",
 :readiness :wtf-is-this,
 :author-url "https://teod.eu",
 :created "2022-07-29",
 :uuid "b58eff14-c704-4de3-b113-959fb41c0f5a"}
