{:title "Programming as Theory Building",
 :readiness :wtf-is-this,
 :uuid "44a0ce6d-f13e-4dc1-a5cc-3c820b215769",
 :author-url "https://teod.eu",
 :created "2023-03-27",
 :lang :en,
 :form :remote-reference}
