{:author-url "https://teod.eu",
 :created "2024-04-01",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title "currmap-clojure-data-science",
 :uuid "a6ea19a2-4eb5-4481-beb5-8ff3c6f01756"}
