{:title "The Courage to Be Disliked",
 :readiness :wtf-is-this,
 :uuid "9488732f-7ab4-4ad9-8fd5-c5c22238636e",
 :author-url "https://teod.eu",
 :created "2022-09-21",
 :lang :en,
 :form :remote-reference}
