{:author-url "https://teod.eu",
 :created "2024-03-16",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title "Hammock Driven Development",
 :uuid "39291BEF-2047-48E8-BA21-6CCEF5F2FF90"}
