{:paths ["."],
 :deps {io.github.teodorlu/munit {:local/root "../../munit"}
        io.github.teodorlu/play.teod.eu {:local/root ".."}
        org.scicloj/kindly {:mvn/version "4-beta18"}
        org.scicloj/noj {:mvn/version "2-beta18"}}}
