{:author-url "https://teod.eu",
 :builder :no-op,
 :created "2025-08-08",
 :lang :en,
 :readiness :wtf-is-this,
 :slug "the-force-the-notation-and-the-limitation",
 :title "The force, the notation and the limitation",
 :uuid "215a33cc-0293-4e0e-bdc5-56dd8ed0da7b"}
