{:author-url "https://teod.eu",
 :created "2024-03-25",
 :lang :en,
 :readiness :wtf-is-this,
 :title
 "Easter 2024 reading recommendations from the European Clojure community: from WW1 history to implementing logic programming in Scheme",
 :uuid "9c2c315e-3609-4b5e-b412-6b7f7f5c87bf"}
