{:author-url "https://teod.eu",
 :builder :no-op,
 :created "2025-06-20",
 :lang :en,
 :readiness :wtf-is-this,
 :slug "nextjournal-markdown-a-first-look",
 :title "Nextjournal Markdown: A First Look",
 :uuid "bd6ef3c5-e5f9-4cca-9443-f2ffbbc41c24"}
