{:author-url "https://teod.eu",
 :created "2023-06-27",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title "Angels Singing: Writing for Programmers",
 :uuid "d8c14c54-5295-41c6-ac41-ecd4fcd718fe"}
