{:author-url "https://teod.eu",
 :created "2024-04-27",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title "Bootstrapping Research & Dynamicland, Dec 2019",
 :uuid "dc085ab8-5e71-45f8-b5d6-71d178179cd7"}
