{:title "Build Your Own Little Memex with Babashka",
 :readiness :ready-for-comments,
 :uuid "26776cc4-e64d-494b-b24c-784b2c57866d",
 :author-url "https://teod.eu",
 :created "2023-07-10",
 :lang :en}
