{:author-url "https://teod.eu",
 :created "2023-06-14",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title "The Origins of Opera and the Future of Programming",
 :uuid "9349d376-d5ee-458b-884c-b35cce2aa296"}
