{:author-url "https://teod.eu", :created "2026-01-02", :lang :en, :readiness :ready-for-comments, :uuid "0797cf8c-6401-4e40-9219-73f52336e107", :file "drafts/progressively-enhancing-explanations.org", :title "Progressively enhancing explanations", :slug "progressively-enhancing-explanations"}
