{:author-url "https://teod.eu",
 :created "2024-09-07",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title "Extreme Programming Explained",
 :uuid "1bb82385-120d-46a8-9391-18f860093c84"}
