{:author-url "https://teod.eu",
 :created "2024-11-30",
 :lang :en,
 :readiness :wtf-is-this,
 :title "Near-instant Module Tests with a Single Keypress",
 :uuid "95be2b0d-ddda-4e64-8460-a56ee60f6008"}
