{:title
 "\"Strong opinions loosely held\" is an excuse for sloppy thinking",
 :readiness :ready-for-comments,
 :uuid "bd1be8c0-9227-4f87-9e9e-86b0f5903d5d",
 :author-url "https://teod.eu",
 :created "2022-12-16",
 :lang :en}
