{:author-url "https://teod.eu", :created "2026-01-10", :lang :en, :readiness :ready-for-comments, :uuid "ae2b3bcd-87d2-4594-bf70-213afa5ebf68", :file "drafts/effort-asymmetry.org", :title "Effort asymmetry on the web", :slug "effort-asymmetry"}
