{:author-url "https://teod.eu", :created "2026-01-02", :lang :en, :readiness :ready-for-comments, :uuid "03c6e62a-91a6-470f-94d8-77e43554c20e", :file "drafts/consider-inlining.org", :title "Consider in-lining", :slug "consider-inlining"}
