{:author-url "https://teod.eu",
 :created "2024-09-07",
 :lang :en,
 :readiness :wtf-is-this,
 :title "Great programming practice is best learned from experts",
 :uuid "fc785354-a104-46fb-a8b3-ef9329c80cbc"}
