{:title "Emacs learning journal"          ; Title is used when linking to this thing
 ;; tags? wait for a need.
 ;; ordering? wait for a need.
 ;;
 ;; decide how to organize index.html /first/ - then figure out what normalized
 ;; data is required /per article/ to make that nice.
 }
