{:author-url "https://teod.eu",
 :created "2024-06-17",
 :lang :en,
 :readiness :wtf-is-this,
 :title "In theory, it makes sense; in practice, it works",
 :uuid "c9bc1684-88b0-444b-9d45-2c9cef27d0c5"}
