{:title "Clojure Data Cookbook",
 :readiness :wtf-is-this,
 :uuid "93748cdc-a42a-4d68-9094-51e610cb526f",
 :author-url "https://teod.eu",
 :created "2023-05-27",
 :lang :en,
 :form :remote-reference}
