{:title "Let the play.teod.eu WIP simmer",
 :readiness :wtf-is-this,
 :author-url "https://teod.eu",
 :lang :en
 :uuid "b78901ce-58cc-4c99-a2bd-1a6f38d35eda"
 :page/uuid "b78901ce-58cc-4c99-a2bd-1a6f38d35eda"}
