{:author-url "https://teod.eu",
 :created "2023-07-01",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title "The Language of the System",
 :uuid "575419ac-17d8-4b5a-b060-10aecd6fee78"}
