{:author-url "https://teod.eu",
 :builder :no-op,
 :created "2025-07-29",
 :lang :no,
 :readiness :wtf-is-this,
 :slug "datanotasjon-for-tall-med-enhet",
 :title "Datanotasjon for tall med enhet",
 :uuid "2bb67451-0550-49dd-bfc8-a5f6ee6f95e9"}
