{:author-url "https://teod.eu",
 :created "",
 :form :remote-reference,
 :lang :en,
 :readiness :wtf-is-this,
 :title
 "Finite element implementation of lower-order strain gradient plasticity in Abaqus",
 :uuid "3619c8d2-f020-4e65-8e45-ca1970cdf46c"}
