{:title "Purposeful Software Development",
 :readiness :wtf-is-this,
 :author-url "https://teod.eu",
 :lang :en
 :uuid "767f57ab-6595-45a8-8689-2c65999a0506"
 :page/uuid "767f57ab-6595-45a8-8689-2c65999a0506"}
