{:title "Rust (programming language)",
 :readiness :wtf-is-this,
 :uuid "307f5d35-7be1-4693-8378-4a0255717056",
 :author-url "https://teod.eu",
 :created "2023-04-30",
 :lang :en,
 :form :remote-reference}
