name: Build site on CI
on: [push, pull_request]
jobs:
  Testing:
    runs-on: ubuntu-latest
    steps:

      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@9.4
        with:
          cli: latest

      - uses: actions/checkout@master
      - name: Install pandoc binary
        uses: nikeee/setup-pandoc@v1

      - name: Download test deps
        run: clojure -A:test -e :test-deps-downloaded
      - name: Run tests
        run: clojure -M:test -m kaocha.runner
